<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand firma" href="./">Leggo <img class="firmaNav" src="./assets/img/firmaNav.png" width="80px"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse navbar-a" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link activeNav" href="./">Home</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="./introduzione">Introduzione</a></li> -->
                <li class="nav-item"><a class="nav-link" href="./progetto"><%= __('navigation.project') %></a></li>
                <li class="nav-item"><a class="nav-link" href="./reader">Leggo</a></li>
                <li class="nav-item"><a class="nav-link" href="./traduco">Traduco</a></li>
                <li class="nav-item"><a class="nav-link" href="./vedo">Vedo</a></li>
                <li class="nav-item"><a class="nav-link" href="./pekino">Wo-Dú</a></li>
                <li class="nav-item"><a class="nav-link" href="./credits"><%= __('navigation.credits') %></a></li>
                <li class="nav-item"><a class="nav-link" href="./news">News</a></li>
                <li class="nav-item">
                    <% if (typeof currentLang !== 'undefined' && currentLang === 'it') { %>
                        <a class="nav-link language-link" href="./change-language/en">EN</a>
                    <% } else { %>
                        <a class="nav-link language-link" href="./change-language/it">IT</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>
