<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %> 
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">LeggoManzoni</h1>
                        <h2 class="text-white font-weight-bold">Quaranta commenti alla Quarantana</h2>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Lorem ipsum dolor sic amet</p>
                        <a class="btn btn-primary btn-xl" href="#about">Scopri di più!</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>

