<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %> 
        <!-- Masthead-->
        <header class="masthead">
            <div class="container container-commenti px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <h3>Indice dei commenti</h3>
                    <div class="comment-list">
                        <ul class="list-group">
                            <li class="list-group-item dropdown-toggle toggleBtn">Commento a cura di Cesare Angelini
                                <ul class="dropdownContent">
                                        <li class="list-group-item">Alessandro Manzoni</li>
                                        <li class="list-group-item">I promessi sposi: Volume secondo delle Opere, a cura di Cesare Angelini</li>
                                        <li class="list-group-item">Angelini, Cesare</li>
                                        <li class="list-group-item">Torino</li>
                                        <li class="list-group-item">Unione tipografico-editrice torinese</li>
                                        <li class="list-group-item">1958</li>
                                        <li class="list-group-item">Correzione e codifica a cura di Ersilia Russo</li>
                                        <li class="list-group-item">Università di Bologna "Alma mater"</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Commento a cura di Badini Confalonieri
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Alessandro Manzoni</li>
                                    <li class="list-group-item">I promessi sposi a cura di Luca Badini Confalonieri</li>
                                    <li class="list-group-item">Badini Confalonieri, Luca</li>
                                    <li class="list-group-item">Roma</li>
                                    <li class="list-group-item">Salerno</li>
                                    <li class="list-group-item">2006</li>
                                    <li class="list-group-item">Correzione e codifica a cura di Ersilia Russo</li>
                                    <li class="list-group-item">Università di Bologna "Alma mater"</li>
                            </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Commento a cura di Pier Paolo Benucci
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Alessandro Manzoni</li>
                                    <li class="list-group-item">I promessi sposi: Note e commento di Pier Paolo Benucci</li>
                                    <li class="list-group-item">Benucci, Pier Paolo</li>
                                    <li class="list-group-item">Roma</li>
                                    <li class="list-group-item">Armando Editore</li>
                                    <li class="list-group-item">1996</li>
                                    <li class="list-group-item">Correzione e codifica a cura di Ersilia Russo</li>
                                    <li class="list-group-item">Università di Bologna "Alma mater"</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Commento a cura di Enrico Bianchi
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Alessandro Manzoni</li>
                                    <li class="list-group-item">I promessi sposi: col commento di Enrico Bianchi</li>
                                    <li class="list-group-item">Bianchi, Enrico</li>
                                    <li class="list-group-item">Firenze</li>
                                    <li class="list-group-item">Casa Editrice F. Le Monnier</li>
                                    <li class="list-group-item">1962</li>
                                    <li class="list-group-item">Correzione e codifica a cura di Ersilia Russo</li>
                                    <li class="list-group-item">Università di Bologna "Alma mater"</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Commento a cura di Ettore Bonora
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Alessandro Manzoni</li>
                                    <li class="list-group-item">I promessi sposi: Introduzione e commento di Ettore Bonora</li>
                                    <li class="list-group-item">Bonora, Ettore</li>
                                    <li class="list-group-item">Torino</li>
                                    <li class="list-group-item">Loescher</li>
                                    <li class="list-group-item">1979</li>
                                    <li class="list-group-item">Correzione e codifica a cura di Ersilia Russo</li>
                                    <li class="list-group-item">Università di Bologna "Alma mater"</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Commento a cura di Lanfranco Caretti
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Alessandro Manzoni</li>
                                    <li class="list-group-item">I promessi sposi: Introduzione, note, apostili e antologia della critica a cura di Lanfranco Caretti</li>
                                    <li class="list-group-item">Caretti, Lanfranco</li>
                                    <li class="list-group-item">Bari</li>
                                    <li class="list-group-item">Editori Laterza</li>
                                    <li class="list-group-item">1970</li>
                                    <li class="list-group-item">Correzione e codifica a cura di Ersilia Russo</li>
                                    <li class="list-group-item">Università di Bologna "Alma mater"</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Commento a cura di Angelo Jacomuzzi
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Alessandro Manzoni</li>
                                    <li class="list-group-item">I promessi sposi: Nuova edizione integrale. A cura di A. Jacomuzzi e A.M. Longobardi</li>
                                    <li class="list-group-item">Jacomuzzi, Angelo</li>
                                    <li class="list-group-item">Torino</li>
                                    <li class="list-group-item">SEI Editrice</li>
                                    <li class="list-group-item">2013</li>
                                    <li class="list-group-item">Correzione e codifica a cura di Ersilia Russo</li>
                                    <li class="list-group-item">Università di Bologna "Alma mater"</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Commento a cura di Valeria Lazzarini
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Alessandro Manzoni</li>
                                    <li class="list-group-item">I promessi sposi: Commento, note e apparato didattico a cura di V. Lazzarini</li>
                                    <li class="list-group-item">Lazzarini, Valeria</li>
                                    <li class="list-group-item">Torino</li>
                                    <li class="list-group-item">Il Capitello</li>
                                    <li class="list-group-item">2012</li>
                                    <li class="list-group-item">Correzione e codifica a cura di Ersilia Russo</li>
                                    <li class="list-group-item">Università di Bologna "Alma mater"</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Commento a cura di Teresa Poggi Salani
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Alessandro Manzoni</li>
                                    <li class="list-group-item">I promessi sposi : Testo del 1840-1842, a cura di Teresa Poggi Salani</li>
                                    <li class="list-group-item">Poggi Salani, Teresa</li>
                                    <li class="list-group-item">Milano</li>
                                    <li class="list-group-item">Centro Nazionale Studi Manzoniani</li>
                                    <li class="list-group-item">2013</li>
                                    <li class="list-group-item">Correzione e codifica a cura di Ersilia Russo</li>
                                    <li class="list-group-item">Università di Bologna "Alma mater"</li>
                                </ul> 
                            </li>
                            <li class="list-group-item dropdown toggleBtn">Commento a cura di Biancamaria Travi
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Alessandro Manzoni</li>
                                    <li class="list-group-item">I promessi sposi: a cura di Biancamaria Travi</li>
                                    <li class="list-group-item">Travi, Biancamaria</li>
                                    <li class="list-group-item">Milano</li>
                                    <li class="list-group-item">Edizioni Scolastiche Bruno Mondadori</li>
                                    <li class="list-group-item">1981</li>
                                    <li class="list-group-item">Correzione e codifica a cura di Ersilia Russo</li>
                                    <li class="list-group-item">Università di Bologna "Alma mater"</li>
                                </ul> 
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>

