<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %> 
        <!-- Masthead-->
        <header class="masthead">
            <div class="container container-commenti px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <h3>Indice dei commenti</h3>
                    <div class="comment-list">
                        <ul class="list-group">
                            <li class="list-group-item dropdown-toggle toggleBtn">Angelini, Cesare (1958)
                                <ul class="dropdownContent">
                                        <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                        <li class="list-group-item">Titolo: I promessi sposi: Volume secondo delle Opere, a cura di Cesare Angelini</li>
                                        <li class="list-group-item">Curatore: Angelini, Cesare</li>
                                        <li class="list-group-item">Luogo di pubblicazione: Torino</li>
                                        <li class="list-group-item">Editore: Unione tipografico-editrice torinese</li>
                                        <li class="list-group-item">Anno: 1958</li>
                                        <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Badini Confalonieri, Luca (2006)
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore:  Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi a cura di Luca Badini Confalonieri</li>
                                    <li class="list-group-item">Curatore: Badini Confalonieri, Luca</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Roma</li>
                                    <li class="list-group-item">Editore: Salerno</li>
                                    <li class="list-group-item">Anno: 2006</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                            </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Benucci, Pier Paolo (1996)
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Note e commento di Pier Paolo Benucci</li>
                                    <li class="list-group-item">Curatore: Benucci, Pier Paolo</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Roma</li>
                                    <li class="list-group-item">Editore: Armando Editore</li>
                                    <li class="list-group-item">Anno: 1996</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Bianchi, Enrico (1962)
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: col commento di Enrico Bianchi</li>
                                    <li class="list-group-item">Curatore: Bianchi, Enrico</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Firenze</li>
                                    <li class="list-group-item">Editore: Le Monnier</li>
                                    <li class="list-group-item">Anno: 1962</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Bonora, Ettore (1979)
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Introduzione e commento di Ettore Bonora</li>
                                    <li class="list-group-item">Curatore: Bonora, Ettore</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Torino</li>
                                    <li class="list-group-item">Editore: Loescher</li>
                                    <li class="list-group-item">Anno: 1979</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Caretti, Lanfranco (1970)
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Introduzione, note, apostili e antologia della critica a cura di Lanfranco Caretti</li>
                                    <li class="list-group-item">Curatore: Caretti, Lanfranco</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Bari</li>
                                    <li class="list-group-item">Editore: Editori Laterza</li>
                                    <li class="list-group-item">Anno: 1970</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Jacomuzzi, Angelo (2013)
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Nuova edizione integrale. A cura di A. Jacomuzzi e A.M. Longobardi</li>
                                    <li class="list-group-item">Curatore: Jacomuzzi, Angelo</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Torino</li>
                                    <li class="list-group-item">Editore: SEI Editrice</li>
                                    <li class="list-group-item">Anno: 2013</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Lazzarini, Valeria (2012)
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Commento, note e apparato didattico a cura di V. Lazzarini</li>
                                    <li class="list-group-item">Curatore: Lazzarini, Valeria</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Torino</li>
                                    <li class="list-group-item">Editore: Il Capitello</li>
                                    <li class="list-group-item">Anno: 2012</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Poggi Salani, Teresa (2013)
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi : Testo del 1840-1842, a cura di Teresa Poggi Salani</li>
                                    <li class="list-group-item">Curatore: Poggi Salani, Teresa</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Milano</li>
                                    <li class="list-group-item">Editore: Centro Nazionale Studi Manzoniani</li>
                                    <li class="list-group-item">Anno: 2013</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul> 
                            </li>
                            <li class="list-group-item dropdown-toggle toggleBtn">Travi, Biancamaria (1981)
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: a cura di Biancamaria Travi</li>
                                    <li class="list-group-item">Curatore: Travi, Biancamaria</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Milano</li>
                                    <li class="list-group-item">Editore: Edizioni Scolastiche Bruno Mondadori</li>
                                    <li class="list-group-item">Anno: 1981</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul> 
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>

