<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %> 
        <!-- Masthead-->
        <header class="masthead">
            <div class="container container-commenti px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <h3>Indice dei commenti</h3>
                    <div class="order-button-group">
                        <button type="button" class="btn btn-light order-button" data-order="chronological" id="chronologicalBtn">Dal più antico</button>
                        <button type="button" class="btn btn-light order-button" data-order="chronological" id="antichronologicalBtn">Dal più recente</button>
                        <button type="button" class="btn btn-light order-button"data-order="alphabetical" id="alphabeticalBtn">Ordine alfabetico</button>
                      </div>
                    <div class="comment-list">
                        <ul class="list-group comment-list-items">
                            <li class="list-group-item dropdown-item toggleBtn">Angelini, Cesare (1958) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                        <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                        <li class="list-group-item">Titolo: I promessi sposi: Volume secondo delle Opere, a cura di Cesare Angelini</li>
                                        <li class="list-group-item">Curatore: Angelini, Cesare</li>
                                        <li class="list-group-item">Luogo di pubblicazione: Torino</li>
                                        <li class="list-group-item">Editore: Unione tipografico-editrice torinese</li>
                                        <li class="list-group-item">Anno: 1958</li>
                                        <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Badini Confalonieri, Luca (2006) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore:  Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi a cura di Luca Badini Confalonieri</li>
                                    <li class="list-group-item">Curatore: Badini Confalonieri, Luca</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Roma</li>
                                    <li class="list-group-item">Editore: Salerno</li>
                                    <li class="list-group-item">Anno: 2006</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                            </ul>
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Benucci, Pier Paolo (1996) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Note e commento di Pier Paolo Benucci</li>
                                    <li class="list-group-item">Curatore: Benucci, Pier Paolo</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Roma</li>
                                    <li class="list-group-item">Editore: Armando Editore</li>
                                    <li class="list-group-item">Anno: 1996</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Bianchi, Enrico (1962) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: col commento di Enrico Bianchi</li>
                                    <li class="list-group-item">Curatore: Bianchi, Enrico</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Firenze</li>
                                    <li class="list-group-item">Editore: Le Monnier</li>
                                    <li class="list-group-item">Anno: 1962</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Bonora, Ettore (1979) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Introduzione e commento di Ettore Bonora</li>
                                    <li class="list-group-item">Curatore: Bonora, Ettore</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Torino</li>
                                    <li class="list-group-item">Editore: Loescher</li>
                                    <li class="list-group-item">Anno: 1979</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Caretti, Lanfranco (1970) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Introduzione, note, apostili e antologia della critica a cura di Lanfranco Caretti</li>
                                    <li class="list-group-item">Curatore: Caretti, Lanfranco</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Bari</li>
                                    <li class="list-group-item">Editore: Editori Laterza</li>
                                    <li class="list-group-item">Anno: 1970</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Jacomuzzi, Angelo (2013) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Nuova edizione integrale. A cura di A. Jacomuzzi e A.M. Longobardi</li>
                                    <li class="list-group-item">Curatore: Jacomuzzi, Angelo</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Torino</li>
                                    <li class="list-group-item">Editore: SEI Editrice</li>
                                    <li class="list-group-item">Anno: 2013</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Lazzarini, Valeria (2012) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Commento, note e apparato didattico a cura di V. Lazzarini</li>
                                    <li class="list-group-item">Curatore: Lazzarini, Valeria</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Torino</li>
                                    <li class="list-group-item">Editore: Il Capitello</li>
                                    <li class="list-group-item">Anno: 2012</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul>
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Nicoletti, Giuseppe (2020) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: con espansione online. A cura di Giuseppe Nicoletti</li>
                                    <li class="list-group-item">Curatore: Nicoletti, Giuseppe</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Firenze</li>
                                    <li class="list-group-item">Editore: Edimedia</li>
                                    <li class="list-group-item">Anno: 2020</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul> 
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Poggi Salani, Teresa (2013)  <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Testo del 1840-1842, a cura di Teresa Poggi Salani</li>
                                    <li class="list-group-item">Curatore: Poggi Salani, Teresa</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Milano</li>
                                    <li class="list-group-item">Editore: Centro Nazionale Studi Manzoniani</li>
                                    <li class="list-group-item">Anno: 2013</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul> 
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Sbrilli, Gilda (1988) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Commento di Gilda Sbrilli</li>
                                    <li class="list-group-item">Curatore: Sbrilli, Gilda</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Firenze</li>
                                    <li class="list-group-item">Editore: Editore Bulgarini </li>
                                    <li class="list-group-item">Anno: 1988</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul> 
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Spinazzola, Vittorio (1972)<i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: Introduzione e note di Vittorio Spinazzola</li>
                                    <li class="list-group-item">Curatore: Spinazzola, Vittorio</li>
                                    <li class="list-group-item">Luogo di pubblicazione: </li>
                                    <li class="list-group-item">Editore: Garzanti</li>
                                    <li class="list-group-item">Anno: 1972</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul> 
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Travi, Biancamaria (1981)<i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi: a cura di Biancamaria Travi</li>
                                    <li class="list-group-item">Curatore: Travi, Biancamaria</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Milano</li>
                                    <li class="list-group-item">Editore: Edizioni Scolastiche Bruno Mondadori</li>
                                    <li class="list-group-item">Anno: 1981</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul> 
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Trombatore, Gaetano (1980)<i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi:  a cura di Gaetano Trombatore</li>
                                    <li class="list-group-item">Curatore: Trombatore, Gaetano</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Palermo</li>
                                    <li class="list-group-item">Editore: Palumbo</li>
                                    <li class="list-group-item">Anno: 1980</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul> 
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Ulivi, Ferruccio (1989)<i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi:  a cura di Ferruccio Ulivi</li>
                                    <li class="list-group-item">Curatore: Ulivi, Ferruccio</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Roma</li>
                                    <li class="list-group-item">Editore: Grandi Tascabili Economici Newton</li>
                                    <li class="list-group-item">Anno: 1989</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul> 
                            </li>
                            <li class="list-group-item dropdown-item toggleBtn">Verdino, Stefano (1990) <i class="bi bi-caret-down-fill"></i>
                                <ul class="dropdownContent">
                                    <li class="list-group-item">Autore: Alessandro Manzoni</li>
                                    <li class="list-group-item">Titolo: I promessi sposi:  a cura di Stefano Verdino</li>
                                    <li class="list-group-item">Curatore: Verdino, Stefano</li>
                                    <li class="list-group-item">Luogo di pubblicazione: Milano</li>
                                    <li class="list-group-item">Editore: Tascabili Bompiani</li>
                                    <li class="list-group-item">Anno: 1990</li>
                                    <li class="list-group-item">Marcatura: Correzione e codifica a cura di Ersilia Russo</li>
                                </ul> 
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>

