<!DOCTYPE html>
<html lang="en">
   <!-- Head-->
   <%- include ("partials/head"); %>
    <body id="page-top"  class="normalFont">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %> 
        <!-- Masthead-->
        <header class="masthead">
            <section class="page-section bg-primary" id="credits">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="testo">
                        <h2 class="text-center mt-0">Credits</h2>
                        <hr class="divider"></hr>
                        <p>
                        <b>Responsabili scientifici</b><br>
                        <a class="creditsLink"    href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a>, <a class="creditsLink"    href="https://www.unibo.it/sitoweb/francesca.tomasi" target="_blank">Francesca Tomasi</a> 
                    </p>
                    <p>
                        <b>Progettazione </b><br>
                        <a class="creditsLink"    href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a>, <a class="creditsLink"    href="https://www.huygens.knaw.nl/en/medewerkers/beatrice-nava/" target="_blank">Beatrice Nava</a>, <a class="creditsLink"    href="https://www.unibo.it/sitoweb/ersilia.russo2" target="_blank">Ersilia Russo</a> 
                    </p> 
                    <p>  
                    <b>Sviluppo applicazione web</b><br>
                    <a class="creditsLink"    href="https://www.linkedin.com/in/maria-levchenko-39953284/" target="_blank">Mariia Levchenko</a>, <a class="creditsLink"    href="https://www.linkedin.com/in/giulia-menna-340606233/" target="_blank">Giulia Menna</a>, con la collaborazione di <a class="creditsLink"    href="https://www.unibo.it/sitoweb/martina.dellobuono2" target="_blank">Martina Dello Buono</a>
                    </p> 
                    <p>
                    <b>Sviluppo modello di codifica XML e marcatura</b><br>
                    <a class="creditsLink"    href="https://www.linkedin.com/in/maria-levchenko-39953284/" target="_blank">Mariia Levchenko</a>,  <a class="creditsLink"    href="https://www.huygens.knaw.nl/en/medewerkers/beatrice-nava/" target="_blank">Beatrice Nava</a>, <a class="creditsLink"    href="https://www.unibo.it/sitoweb/ersilia.russo2" target="_blank">Ersilia Russo</a>
                    </p> 
                    <p>
                        <b>Correzione txt e collaborazione alla marcatura</b><br>
                        Alice Caputa, Isabella Greco, Ludovica Grillini, Lorenzo Laconi, Matilde Lallbahadoor, Chiara Leali, Guido Manfredini, Beatrice Nava, Alessia Panebianco, Stefania Paolino, Filippo Pelacci, Jacopo Pesaresi, Arianna Roffi, Rachele Rossi, Ersilia Russo, Isabel Zamboni
                    </p>     
                    <p><b id="scuole">Scuole coinvolte in “Adotta un commento ai <i>Promessi Sposi</i>"</b><br>
                        IIS Bachelet (Lecco), Liceo Carlo Alberto (Novara), ISS A. Checchi (Firenze), IIS Ugo Foscolo (Agrigento), Liceo Gonzaga (Mantova), Liceo Sant’Alberto Magno (Bologna), Liceo Ettore Majorana (Catania), Liceo Angelo Messedaglia (Verona), Liceo Minghetti (Bologna), Liceo G. Palmieri (Lecce), ISS Domenico Romanazzi (Bari), Liceo Bertrand Russell (Roma), Liceo Sabin (Bologna), Liceo Socrate (Roma),  Liceo Torquato Tasso (Roma), Liceo Giulio Cesare Valgimigli (Rimini),  Liceo Vida (Cremona), Liceo Villari (Napoli), Liceo Wiligelmo (Modena)

                    </p>
                    <p><b id="insegnanti">Docenti referenti per le scuole</b><br>
                        Ottavio Baldi, Marco Baroni, Maria Belfiore, Emanuela Brescia, Antonia Lo Brutto, Rafaela Lo Brutto, Giovanna Colone, Carla Carafa, Fabio De Propris, Nella Frediani,  Carlotta Frenquellucci, Maria Rita Giansanti, Paolo Grazioli, Fiorina Izzo, Francesca Magelli, Annamaria Masciullo, Federica Mingozzi, Claudia Mizzotti, Lucia Olini, Loredana Palma, Filomena Maria Paolicelli, Rosa Petralia, Valeria Picazzi, Rossella Pogliaghi, Cristina Remelli, Maria Teresa Rizzo, Benedetto Sbaraglia, Caterina Scrimali, Grazia Silvestri, Rita Sepe, Marianna Villa, Domenica Virgilio, Paola Zanini
                    </p>
                    <p><b>Studenti di scuola secondaria di II grado coinvolti in “Adotta un commento ai <i>Promessi Sposi</i>”</b><br>
                             
                        Abate Simona Maria,
Abbafati Beatrice,
Abbate Daniele,

Abbrescia Giulia,

Acito Anna Gaia,

Albini Stefano,

Alippi Matilda,

Amati Gaia,

Amato Clivia Pia,

Amizzoni Valerio,

Anastasi Ylenia,

Angeloni Federico,

Aniello Fabrizio,

Aponte Elisa,

Arena Claudia,

Ariolfo Greta,

Armenio Filippo,

Armocida Leonardo,

Attanasio Francesco,

Attolico Francesca,

Aureli Sofia,

Avellino Alessio,

Averna Luca,

Azzoni Luigi Maria,

Bagnoli Alessandro,

Ballarin Letizia,

Ballirano Chiara,

Ballone Luca,

Barani Francesca,

Barbangelo Luca,

Barbieri Matteo,

Bardelloni Flavia,

Baroni Marco,

Baronti Samuele,

Bassi Francesca,

Beddini Alice,

Bejasa Steffy Rinzel,

Belfiore Maria,

Belletti Lucilla,

Bellomo Federica Anna Rita,

Benatti Federico,

Benciolini Martina,

Bendazzoli Simone,

Benevento Leila,

Benfenati Carolina,

Bernardini Sofia,

Bertolani Enu,

Bertoletti Clara,

Bertone Leonardo,

Bettarini Gabriele,

Biagi Elena,

Biagione Salvatore,

Bigazzi Edoardo,

Blasutta Tommaso,

Boccù Luca,

Bocedi Sabrina,

Boco Sara,

Bonaccorso Benedetta,

Bonino Niccolò,

Borghesi Giorgia,

Borgiani Riccardo,

Bosco Lorenzo,

Bottani Martina,

Brambilla Federico,

Brunelli Martina,

Bruno Andrea,

Bruschi Gaia,

Bucci Ilaria,

Buffa Elisa Sofia,

Bugarini Marta,

Buoni Emanuele,

Buscemi Giovanni,

Campeti Davide,

Campigli Camilla,

Campoli Giulia,

Canni Valeria,

Cannizzaro Martina,

Caprioli Lucio Ennio,

Carafa Carla,

Carbonelli Anna,

Carpentieri Daniele,

Carugi Leonardo,

Caruso Abigaille,

Casadei Martina,

Castellano Gabriele,

Castorina Alessandro,

Castorina Giuseppe,

Catinella Vittoria,

Cavaliere Giuseppe,

Cavallaro Maria,

Cavallaro Asia,

Cavallaro Gabriele Alfio,

Cazzato Cristina,

Ceccarini Giorgia,

Celano Lorenzo Maria,

Cerami Simone,

Cerioli Lorenzo,

Cerofolini Michele,

Cerri Valentina,

Cesarano Claudia,

Cioni Vittorio,

Ciotta Kleide,

Ciuffreda Ginevra,

Cocciolo Sofia,

Cogliati Martina,

Collevecchio Celeste,

Colone Giovanna,

Colucci Christian,

Comella Costanza,

Compagnini Valeria Maria Laura,

Comparato Clara,

Cornia Pietro,

Corrieri Fiorenza,

Cortese Roberto Pio,

Costarella Martina,

Cucurachi Claudia,

D Angelo Eleonora,

D'Antimi Francesca,

Damiani Lucia,

De Canale Martina,

De Luca Giuseppe,

De Nicolò Simone,

De Petris Linda,

De Santis Giorgia,

De Simone Davide,

De Simone Giulia,

De Vitis Sofia,

Dell'Anna Serena,

Depalo Cristian Francesco,

Di Bilio Kevin Daniele Attilio,

Di Dio Gabriele,

Di Gesù Beatrice,

Di Gravio Elena,

Di Staso Matteo,

Dispenza Denise,

Donati Anna,

Esmaili Melica,

Esposito Francesco,

Esposto Roberta,

Fabbri Valentina,

Fabbri Chiara,

Fabbri Valentina,

Facenti Luigi,

Fadda Giulia,

Falorni Giulio,

Falsone Gaetano,

Farrugio Miriam,

Farrugio Aurora,

Ferì Camilla,

Ferlisi Matteo,

Ferrario Giulia,

Ferrigno Sara Lucia,

Formica Irene,

Fornasari Gioia,

Franchi Silvia,

Franci Giacomo,

Frangiamone Alessia Maria,

Frangiamone Luigi,

Frattali Martina,

Frediani Nella,

Freschi Carolina,

Frisenda Francesca,

Frisina Rosemary,

Gallerini Pulga Tommaso,

Gamba Francesco,

Gambini Filippo,

Gambino Giada,

Garattoni Vera,

Garlisi Adriana,

Gattei Maria Ilaria,

Geronimo Tommaso,

Giampaia Leonardo,

Giampieretti Alice,

Giardina Maria,

Giardina Federica,

Gibellini Alessandro,

Gigli Simone,

Gigliano Gabriella,

Giordani Leonardo,

Giordano Irene,

Giordano Chiara,

Giordano Alice,

Giorgi Daniele,

Giuppa Antonino,

Giussani Samuele,

Gonzalez Rosleydi,

Gostoli Francesca,

Grana Giulia,

Grasselli Pietro,

Grattagliano Marta,

Gravagnola Leonardo,

Graziani Valentina,

Greco Lucia,

Greco Elisa,

Grenzi Lucia,

Grillini Ludovica,

Grippaldi Gaia Letizia,

Guardì Michele,

Guarino Ludovica,

Guarino Cecilia,

Guidi Nico,

Gulizia Nicolò,

Gullotta Giulia,

Gullotta Daniele,

Iacob Laura Denisa,

Iannello Davide,

Iattarelli Viola,

Iossa Alberto,

Izzo Fiorina,

Kaur Gurpreet,

Kiptiu Francesca,

Kottas Alessandro,

Kumar Liza,

La Greca Giovanni Pietro Maria,

La Monaca Diego,

La Vecchia Savio Gioacchino,

Laconi Lorenzo,

Lallbahadoor Matilde,

Lana Carlotta,

Lanzoni Filippo,

Laurenti Giulia,

Legrottaglie Maria Grazia,

Lentini Francesco,

Leonardi Maria Chiara,

Leone Anna Fara,

Lika Elvira,

Liuzzi Michela,

Lo Brutto Raffaela,

Lo Faro Giuseppe Carmelo,

Lo Verde Giovanni Marco,

Locci Pietro,

Lombardo Paola,

Lonardelli Alessandra,

Lonero Ylenia,

Lonigro Matilde,

Lops Gabriele,

Losi Tommaso,

Losurdo Francesco,

Lucarelli Leonardo,

Lucarelli Leonardo,

Lucchesi Alessio,

Luminelli Ludovica,

Maceo Vittorio,

Maceroni Gaia,

Macrì Aurora,

Magelli Francesca,

Mainetti Iris,

Malossi Letizia,

Manca Lucrezia,

Mancini Marco,

Manco Annanives,

Mancuso Flavia,

Manfredini Guido,

Mangano Mia,

Mannella Anja,

Manzini Riccardo,

Marchi Bianca,

Marcì Samuele Maria,

Marianelli Alessia,

Mariniello Gianni,

Marsiglio Ludovica,

Martellotta Giorgia,

Martin Laura,

Masciullo Annamaria,

Masiello Virginia,

Masotti Filippo,

Mastrorilli Elisa,

Mazzetti Elena,

Melandri Beatrice,

Mele Cristina,

Melotto Elena,

Merulla Vincenzo,

Mesiti Laura,

Messina Fabio,

Michetti Maria Adoralise,

Mingozzi Federica,

Mistretta Maria Grazia,

Mizzotti Claudia,

Monari Elisa,

Montanaro Bruno Tommaso,

Montemaggi Marco,

Moretti Filippo,

Moretti Michela,

Moroni Andrea,

Morri Michele,

Mungiguerra Michela,

Murciano Edoardo,

Napoli Girolamo,

Napoli Angelica,

Nardelli Simone,

Negro Cristiana,

Ngom Catherine,

Nicola Giulio,

Nicolosi Morena,

Nicosia Chiara,

Nicosia Rossella,

Nigro Serenella,

Noce Giuliana Anna,

Novati Giorgia,

Nunziato Iacopo,

Olini Lucia,

Olivieri Mattia,

Olivieri Alice,

Paci Nicolò,

Pagano Edoardo,

Palermo Rossella Maria,

Palma Loredana,

Palmieri Filippo,

Pantanelli Giulia,

Panza Edoardo,

Panzanaro Sara,

Paparella Maria,

Pappalardo Roberto Salvatore,

Paratore Mattia,

Pari Chiara,

Paris Federica Vanda,

Parlato Aurora,

Pasqualini Jacopo,

Pasquini Maria Vittoria,

Pasquini Marta,

Passini Sofia,

Pastorelli Francesco,

Patermo Dalila Stefania,

Pavesi Caterina,

Peduto Giulia,

Pellizzoni Giulio,

Perli Giacomo,

Pesaresi Asia,

Pescetti Favale Flor Del Mar Libera,

Pettorano Bianca,

Piastra Sofia,

Piazza Mattia,

Piazza Davide,

Picazzi Valeria,

Piccolo Gaia,

Pieretti Tommaso,

Pinzani Edoardo,

Piovani Sofia,

Piroli Alice,

Pisanu Marta,

Piscopiello Giuliafrancesca,

Poggi Carlo Andrea,

Pogliaghi Rossella,

Pojaghi Gaia,

Polizzi Salamone Salvo,

Porciani Chiara,

Porta Sofia,

Porzio Filippo,

Pozzi Giulia,

Principi Giulia,

Privitera Ettore,

Pugiotto Leonardo Johannes,

Puglisi Martina,

Quarantelli Nele,

Quarta Greta,

Quattrone Alice,

Rago Gabriella Meggie,

Raimondi Giada,

Ramos Heron Joseph,

Rausa Beatrice,

Ravegnini Lisa,

Ravo Rosario,

Ricci Elena,

Ricci Maria,

Ricciato Sebastian,

Righi Riva Niccolò,

Rinaldi Alice,

Ritirossi Aurora,

Rizzi Maddalena,

Rizzoli Viola,

Roffi Arianna,

Romanello Andeira Antonia,

Romeo Lorenzo,

Rossi Elena,

Rossi Rachele,

Ruffetta Francesco,

Russo Alessia,

Russo Mattia,

Saccone Giulia,

Sallustio Eugenio,

Sammarco Massimo,

Sanfilippo Lara,

Sangalli Aurora,

Sani Chiara,

Sansone Laura,

Santapaola Sofia,

Santi Asia,

Sapienza Matteeo,

Sapigni Sofia,

Sappa Carlo Alberto,

Savarese Valeria Maddalena,

Scaletta Damiano,

Scardino Giorgia,

Scarpa Alessandra,

Sciacca Davide,

Scialpi Giada Arianna,

Scigliano Alessia,

Scirocco Filomena,

Scorrano Alessia,

Scuderi Stefania,

Sebastiani Lucrezia,

Selva Erika,

Semprebon Emma,

Sepe Rita,

Serpe Francesca,

Sestini Matteo,

Sidki Jihan,

Silvestri Francesco,

Simeoli Lidia,

Smeriglio Sara,

Spedone Andrea,

Spigarelli Sara,

Spreafico Ines,

Squadrani Emma,

Stabile Eleonora,

Stanco Arianna,

Stasi Ludovica,

Succi Karen,

Suppressa Alessia,

Suppressa Annachiara,

Suraci Monica,

Taddei Anna,

Tamagnini Alex,

Tamburella Dalì Maria,

Tamma Delia,

Tampieri Giulia,

Tantari Elisa,

Tartaglia Chiara,

Tassinari Alessia,

Tedeschi Giulia,

Terranova Sofia,

Testa Veronica,

Tiseo Simone,

Tognetti Gian Marco,

Tomasello Manuela,

Tommasi Luigi,

Toneatti Alessia,

Tonti Alice,

Torre Elena,

Torrisi Samoa,

Torti Alba,

Tranchina Alberto,

Traù Lorenzo,

Trioni Davide Luigi,

Trotta Francesco,

Truffarelli Denise,

Tuorto Chiara,

Ugolini Alice,

Urso Mauro,

Vacca Francesco,

Valagussa Beatrice,

Valcarenghi Manuela,

Valore Emanuele,

Varriale Elisabetta,

Vasta Francesco Lorenzo,

Vella Deborah,

Vella Rossana Pia,

Venturi Margherita,

Vergani Stella,

Veronesi Marco,

Vesentini Alessandro,

Vicinanza Elena,

Viglianti Flavia Maria Matilde,

Villa Marianna,

Virgilio Domenica Giuseppina,

Volpi Francesco,

Xia Sofiena,

Zaccarelli Elisa,

Zangari Filippo,

Zanini Paola,

Zanoboni Alessio,

Zanotti Stella,

Zavalloni Beatrice,

Zerbini Alberto,

Zezza Valentina,

Zizi Elenia José,

Zoppi Nicole,
























































































































































































































































































































































































































































































                    </p>
                    
                    <p><b>Ringraziamenti</b><br>
                        Si ringraziano tutte le studentesse e gli studenti che hanno collaborato alla realizzazione del progetto e <a class="creditsLink" href="https://www.italianisti.it/" target="_blank">l’Associazione degli Italianisti - Sezione Didattica (ADI-SD)</a>, che ha contribuito alla diffusione dei progetti PCTO “Adotta un commento ai <i>Promessi sposi</i>”. <br>Si ringrazia inoltre Martina Dello Buono per la collaborazione nella progettazione e nello sviluppo dell’applicazione e dell’interfaccia web.
                    </p>
                    <p><b>Sezione Vedo Manzoni</b><br>
                        Coordinamento scientifico: <a class="creditsLink"    href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a><br>
                        Coordinamento tecnico:  <a class="creditsLink" href="https://www.unibo.it/sitoweb/paolo.bonora" target="_blank"> Paolo Bonora</a>, <a class="creditsLink" href="https://www.unibo.it/sitoweb/enrica.iemmi2" target="_blank">Enrica Iemmi </a>, <a class="creditsLink" href="https://www.unibo.it/sitoweb/marco.serra" target="_blank">Marco Serra</a>, Tommaso Vitale e il <a class="creditsLink" href="https://site.unibo.it/adlab/it" target="_blank">Laboratorio AD Lab </a> 
                        <br>Sviluppo: <a class="creditsLink" href="https://www.unibo.it/sitoweb/sara.obbiso2" target="_blank">Sara Obbiso</a>, <a class="creditsLink" href="https://www.linkedin.com/in/matilde-passafaro-2b7271291/" target="_blank">Matilde Passafaro  </a>
                    <br>Si ringraziano: il direttore del <a class="creditsLink" href="https://ficlit.unibo.it/it" target="_blank">Dipartimento di Filologia Classica e Italianistica</a> <a class="creditsLink" href="https://www.unibo.it/sitoweb/nicola.grandi" target="_blank">Nicola Grandi</a>, la responsabile scientifica del centro<a class="creditsLink" href="https://ficlit.unibo.it/it/ricerca/centri-di-ricerca/dharc" target="_blank"> DH.arc</a> <a class="creditsLink" href="https://www.unibo.it/sitoweb/francesca.tomasi" target="_blank">Francesca Tomasi</a>, la responsabile scientifica del <a class="creditsLink" href="https://site.unibo.it/adlab/it" target="_blank">Laboratorio AD Lab</a> <a class="creditsLink" href="https://www.unibo.it/sitoweb/maddalena.modesti3" target="_blank"> Maddalena Modesti</a>. 
                    </p>
                    <p><b>Stringa citazionale corrente </b><br>
                        Leggo Manzoni, a cura del DH.arc, versione 1.0, 2023.
                    </p>
                    <p><b>Licenza</b><br>
                        Leggo Manzoni® is licensed under a <a class="creditsLink" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.
                    </p>
                    <p><b>Commenti pubblicati</b>
                        <ol>
                            <li> Angelini (1962), <a class="creditsLink" href="http://www.utet.it/" target="_blank">UTET</a></li>
                            <li>  Badini Confalonieri (2006), <a class="creditsLink" href="https://www.salernoeditrice.it/" target="_blank">Salerno</a></li>
                            <li>  Benucci	 (1996), <a class="creditsLink" href="https://www.armandoeditore.it/" target="_blank">Armando</a></li>
                            <li>  Bianchi	(1962), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Le-Monnier/edt20767/" target="_blank">Le Monnier</a></li>
                            <li>  Bonora	(1972), <a class="creditsLink" href="https://www.loescher.it/" target="_blank">Loescher</a></li>
                            <li> Bricchi	(1996), <a class="creditsLink" href="https://www.bompiani.it/" target="_blank">Bompiani scuola</a></li>
                            <li>  Caretti	(1970), <a class="creditsLink" href="https://www.laterza.it/" target="_blank">Laterza</a></li>
                            <li>  De Cristofaro et al. (2014), <a class="creditsLink" href="https://www.rizzolilibri.it/" target="_blank">Rizzoli</a></li>
                            <li>  De Michelis (1964), <a class="creditsLink" href="https://www.rizzolilibri.it/" target="_blank">Zanichelli </a></li>
                            <li>  Gavino-Olivieri	(1990), <a class="creditsLink" href="https://principato.it/" target="_blank">Principato</a></li>
                            <li>  Getto	(1964), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Sansoni/edt325/" target="_blank">Sansoni, Mondadori</a></li>
                            <li>  Giacalone (1966), Italica</li>
                            <li>  Guerri	(1925), <a class="creditsLink" href="https://www.vallecchi-firenze.it/" target="_blank">Vallecchi</a></li>
                            <li>Jacomuzzi-Longobardi	(2013), <a class="creditsLink" href="https://www.lascuolasei.it/" target="_blank">SEI</a></li>
                            <li>Joannes	(1980), <a class="creditsLink" href="https://www.ibs.it/libri-vintage/editori/editoriale-del-drago" target="_blank">Editoriale del drago</a></li>
                            <li>Lazzarini-Rolla	(2012), <a class="creditsLink" href="https://www.capitello.it/partiamo-insieme/" target="_blank">Il Capitello </a></li>
                            <li>Luperini-Brogi	(1998), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Einaudi-Scuola/edt1007/" target="_blank">Einaudi scuola</a></li>
                            <li>Marchese (1985), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Einaudi-Scuola/edt1007/" target="_blank">Mondadori scuola</a></li>
                            <li>Messina (1964), <a class="creditsLink" href="https://www.loescher.it/catalogo/g-d-anna-casa-editrice.htm" target="_blank">G. D'Anna</a></li>
                            <li>Momigliano (1951), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Sansoni/edt325/" target="_blank">Sansoni, Mondadori </a></li>
                            <li>Nardi	(1940), <a class="creditsLink" href="https://www.mondadori.it/" target="_blank">Mondadori</a></li>
                            <li>Nicoletti (2020), <a class="creditsLink" href="http://edimediafirenze.it/" target="_blank">Edimedia</a></li>
                            <li>Nigro	(2002), <a class="creditsLink" href="https://www.mondadori.it/" target="_blank">Mondadori</a></li>
                            <li>Petrocchi (1893-1902), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Sansoni/edt325/" target="_blank">Sansoni, Mondadori</a></li>
                            <li>Petronio (1943), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Paravia/edt130/" target="_blank">Paravia</a>  </li>
                            <li>Pistelli	(1923), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Sansoni/edt325/" target="_blank">Sansoni, Mondadori</a>  </li>
                            <li>Poggi Salani (2013), <a class="creditsLink" href="https://www.casadelmanzoni.it/pubblicazioni" target="_blank">Casa Manzoni</a>  </li>
                            <li>Raimondi-Bottoni (1987), <a class="creditsLink" href="https://principato.it/" target="_blank">Principato</a>  </li>
                            <li>Rigutini-Mestica (1894), <a class="creditsLink" href="https://www.ibs.it/libri/editori/barbera" target="_blank">Barbèra</a>  </li>
                            <li>Russo (1935), <a class="creditsLink" href="https://www.mondadoristore.it/libri/La-Nuova-Italia/edt453/" target="_blank">La Nuova Italia, Mondadori</a>  </li>
                            <li>Viti-Sapegno (2005), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Le-Monnier/edt20767/" target="_blank">Le Monnier</a>  </li>
                            <li>Sbrilli	(1988), <a class="creditsLink" href="https://www.gruppoeli.it/bulgarini-ebf/" target="_blank">Bulgarini</a>  </li>
                            <li>Spinazzola (1966), <a class="creditsLink" href="https://www.zanichelli.it/" target="_blank">Zanichelli</a>  </li>
                            <li>Stella-Repossi (1995), <a class="creditsLink" href="https://www.einaudi.it/" target="_blank">Einaudi Gallimar</a>  </li>
                            <li>Titta Rosa (1966), <a class="creditsLink" href="https://www.mursia.com/" target="_blank">Mursia</a>  </li>
                            <li>Travi (1981), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Edizioni-Scolastiche-Bruno-Mondadori/edt459983/" target="_blank">Mondadori edizioni scolastiche</a>  </li>
                            <li>Trombatore (1980), <a class="creditsLink" href="https://www.palumboeditore.it/" target="_blank">Palumbo</a>  </li>
                            <li>Ulivi (1989), <a class="creditsLink" href="https://www.newtoncompton.com/" target="_blank">Newton Compton</a>  </li>
                            <li>Verdino (1990), <a class="creditsLink" href="https://www.bompiani.it/" target="_blank">Bompiani</a>  </li>
                            <li>Viti-Sapegno (1994), <a class="creditsLink" href="https://www.mondadoristore.it/libri/Le-Monnier/edt20767/" target="_blank">Le Monnier</a>  </li>
                    </ol>
                        
                    </p>
                    

                            
                            
                    </div>
                </div>
            </div>


                    <!-- to remove -->
                    <div class="col-lg-8 align-self-baseline">
                    </div>

                </div>
            </div>
        </section>
        </header>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
</html>

