<!DOCTYPE html>
<html lang="en">
   <!-- Head-->
   <%- include ("partials/head"); %>
    <body id="page-top">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %> 
        <!-- Masthead-->
        <header class="masthead">
            <section class="page-section bg-primary" id="credits">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="testo">
                        <h2 class="text-center mt-0">Credits</h2>
                        <hr class="divider"></hr>
                        <p>
                        <b>Responsabili scientifici</b><br>
                        <a class="creditsLink" href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a>, <a class="creditsLink" href="https://www.unibo.it/sitoweb/francesca.tomasi" target="_blank">Francesca Tomasi</a> 
                    </p>
                    <p>
                        <b>Progettazione </b><br>
                        <a class="creditsLink" href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a>, <a class="creditsLink" href="https://www.huygens.knaw.nl/en/medewerkers/beatrice-nava/" target="_blank">Beatrice Nava</a>, <a class="creditsLink" href="https://www.unibo.it/sitoweb/ersilia.russo2" target="_blank">Ersilia Russo</a> 
                    </p> 
                    <p>  
                    <b>Sviluppo applicazione web</b><br>
                    <a class="creditsLink" href="https://www.linkedin.com/in/maria-levchenko-39953284/" target="_blank">Mariia Levchenko</a>, <a class="creditsLink" href="https://www.linkedin.com/in/giulia-menna-340606233/" target="_blank">Giulia Menna</a>, con la collaborazione di <a class="creditsLink" href="https://www.unibo.it/sitoweb/martina.dellobuono2" target="_blank">Martina Dello Buono</a>
                    </p> 
                    <p>
                    <b>Sviluppo modello di codifica XML e marcatura</b><br>
                    <a class="creditsLink" href="https://www.linkedin.com/in/maria-levchenko-39953284/" target="_blank">Mariia Levchenko</a>,  <a class="creditsLink" href="https://www.huygens.knaw.nl/en/medewerkers/beatrice-nava/" target="_blank">Beatrice Nava</a>, <a class="creditsLink" href="https://www.unibo.it/sitoweb/ersilia.russo2" target="_blank">Ersilia Russo</a>
                    </p>    
                    <p><b>Scuole coinvolte in “Adotta un commento ai Promessi Sposi"</b><br>
                    
                    </p>
                    <p><b>Docenti referenti per le scuole</b><br>
                    
                    </p>
                    <p><b>Stringa citazionale corrente </b><br>
                    
                    </p>
                    <p><b>Licenza</b><br>
                    
                    </p>
                    <p><b>Ringraziamenti</b><br>
                        Si ringraziano tutte le studentesse e gli studenti che hanno collaborato alla realizzazione del progetto e l’Associazione degli Italianisti - Sezione Didattica (ADI-SD), che ha contribuito alla diffusione dei progetti PCTO Adotta un commento a “I promessi sposi”. <br>Si ringrazia inoltre Martina Dello Buono per la collaborazione nella progettazione e nello sviluppo dell’applicazione e dell’interfaccia web.
                    </p>
                    <p><b>Commenti pubblicati</b>
                        <ul>
                            <li> Angelini (1962)	<a href="http://www.utet.it/" target="_blank">UTET</a> - acquista il commento </li>
                            <li>  Badini Confalonieri (2006) <a href="https://www.salernoeditrice.it/" target="_blank">Salerno</a> - acquista il commento</li>
                            <li>  Benucci	 (1996) <a href="https://www.armandoeditore.it/" target="_blank">Armando</a> - acquista il commento</li>
                            <li>  Bianchi	(1962)	<a href="https://www.mondadoristore.it/libri/Le-Monnier/edt20767/" target="_blank">Le Monnier</a> - acquista il commento</li>
                            <li>  Bonora	(1972)	<a href="https://www.loescher.it/" target="_blank">Loescher</a> - acquista il commento</li>
                            <li> Bricchi	(1996)	<a href="https://www.bompiani.it/" target="_blank">Bompiani scuola</a> - acquista il commento</li>
                            <li>  Caretti	(1970)	<a href="https://www.laterza.it/" target="_blank">Laterza</a> - acquista il commento</li>
                            <li>  De Cristofaro et al. (2014) <a href="https://www.rizzolilibri.it/" target="_blank">Rizzoli</a> - acquista il commento</li>
                            <li>  De Michelis (1964) <a href="https://www.rizzolilibri.it/" target="_blank">Zanichelli </a>- acquista il commento</li>
                            <li>  Gavino-Olivieri	(1990)	<a href="https://principato.it/" target="_blank">Principato</a> - acquista il commento</li>
                            <li>  Getto	(1964) <a href="https://www.mondadoristore.it/libri/Sansoni/edt325/" target="_blank">Sansoni, Mondadori</a>- acquista il commento</li>
                            <li>  Giacalone (1966) Italica - acquista il commento</li>
                            <li>  Guerri	(1925)	<a href="https://www.vallecchi-firenze.it/" target="_blank">Vallecchi</a> - acquista il commento</li>
                            <li>Jacomuzzi-Longobardi	(2013)	<a href="https://www.lascuolasei.it/" target="_blank">SEI</a> - acquista il commento</li>
                            <li>Joannes	(1980)	<a href="https://www.ibs.it/libri-vintage/editori/editoriale-del-drago" target="_blank">Editoriale del drago</a> - acquista il commento</li>
                            <li>Lazzarini-Rolla	(2012)	<a href="https://www.capitello.it/partiamo-insieme/" target="_blank">Il Capitello </a>- acquista il commento</li>
                            <li>Luperini-Brogi	(1998)	<a href="https://www.mondadoristore.it/libri/Einaudi-Scuola/edt1007/" target="_blank">Einaudi scuola</a> - acquista il commento</li>
                            <li>Marchese (1985) <a href="https://www.mondadoristore.it/libri/Einaudi-Scuola/edt1007/" target="_blank">Mondadori scuola</a> - acquista il commento</li>
                            <li>Messina (1964)	<a href="https://www.loescher.it/catalogo/g-d-anna-casa-editrice.htm" target="_blank">G. D'Anna</a> - acquista il commento</li>
                            <li>Momigliano (1951) <a href="https://www.mondadoristore.it/libri/Sansoni/edt325/" target="_blank">Sansoni, Mondadori </a>- acquista il commento</li>
                            <li>Nardi	(1940)	<a href="https://www.mondadori.it/" target="_blank">Mondadori</a> - acquista il commento</li>
                            <li>Nicoletti (2020	) <a href="http://edimediafirenze.it/" target="_blank">Edimedia</a> - acquista il commento</li>
                            <li>Nigro	(2002)	<a href="https://www.mondadori.it/" target="_blank">Mondadori</a> - acquista il commento</li>
                            <li>Petrocchi (1893-1902)	<a href="https://www.mondadoristore.it/libri/Sansoni/edt325/" target="_blank">Sansoni, Mondadori</a> - acquista il commento</li>
                            <li>Petronio (1943)	 <a href="https://www.mondadoristore.it/libri/Paravia/edt130/" target="_blank">Paravia</a> - acquista il commento</li>
                            <li>Pistelli	(1923)	<a href="https://www.mondadoristore.it/libri/Sansoni/edt325/" target="_blank">Sansoni , Mondadori</a> - acquista il commento</li>
                            <li>Poggi Salani (2013) <a href="https://www.casadelmanzoni.it/pubblicazioni" target="_blank">Casa Manzoni</a> - acquista il commento</li>
                            <li>Raimondi-Bottoni (1987) <a href="https://principato.it/" target="_blank">Principato</a> - acquista il commento</li>
                            <li>Rigutini-Mestica (1894)	<a href="https://www.ibs.it/libri/editori/barbera" target="_blank">Barbèra</a> - acquista il commento</li>
                            <li>Russo (1935) <a href="https://www.mondadoristore.it/libri/La-Nuova-Italia/edt453/" target="_blank">La Nuova Italia, Mondadori</a> - acquista il commento</li>
                            <li>Viti-Sapegno (2005) <a href="https://www.mondadoristore.it/libri/Le-Monnier/edt20767/" target="_blank">Le Monnier</a> - acquista il commento</li>
                            <li>Sbrilli	(1988)	<a href="https://www.gruppoeli.it/bulgarini-ebf/" target="_blank">Bulgarini</a> - acquista il commento</li>
                            <li>Spinazzola (1966) <a href="https://www.zanichelli.it/" target="_blank">Zanichelli</a> - acquista il commento</li>
                            <li>Stella-Repossi (1995)	<a href="https://www.einaudi.it/" target="_blank">Einaudi Gallimar</a> - acquista il commento</li>
                            <li>Titta Rosa (1966) <a href="https://www.mursia.com/" target="_blank">Mursia</a> - acquista il commento</li>
                            <li>Travi (1981) <a href="https://www.mondadoristore.it/libri/Edizioni-Scolastiche-Bruno-Mondadori/edt459983/" target="_blank">Mondadori edizioni scolastiche</a> - acquista il commento</li>
                            <li>Trombatore (1980) <a href="https://www.palumboeditore.it/" target="_blank">Palumbo</a> - acquista il commento</li>
                            <li>Ulivi (1989) <a href="https://www.newtoncompton.com/" target="_blank">Newton Compton</a> - acquista il commento</li>
                            <li>Verdino (1990)	<a href="https://www.bompiani.it/" target="_blank">Bompiani</a> - acquista il commento</li>
                            <li>Viti-Sapegno (1994) <a href="https://www.mondadoristore.it/libri/Le-Monnier/edt20767/" target="_blank">Le Monnier</a> - acquista il commento</li>
                    </ul>
                        
                    </p>
                    

                            
                            
                    </div>
                </div>
            </div>


                    <!-- to remove -->
                    <div class="col-lg-8 align-self-baseline">
                    </div>

                </div>
            </div>
        </section>
        </header>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
</html>

