<!DOCTYPE html>
<html lang="en">
   <!-- Head-->
   <%- include ("partials/head"); %>
    <body id="page-top">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %> 
        <!-- Masthead-->
        <header class="masthead">
            <section class="page-section bg-primary" id="credits">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="testo">
                        <h2 class="text-center mt-0">Credits</h2>
                        <hr class="divider"></hr>
                            La piattaforma mette a disposizione il testo integrale dell’edizione de <i>I promessi sposi</i> del 1840-42 corredato da quaranta commenti critici e dalle immagini originali. 
                            
                            
                    </div>
                </div>
            </div>


                    <!-- to remove -->
                    <div class="col-lg-8 align-self-baseline">
                    </div>

                </div>
            </div>
        </section>
        </header>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
</html>

