<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top"  class="normalFont">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %>
        <!-- Masthead-->
        <header class="masthead">
        <section class="page-section bg-primary" id="introduzione">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="testo">
                        <h2 class="text-center mt-0">Benvenuti in <br> <i>Leggo Manzoni*</i></h2>
                        <hr class="divider"></hr>
                           <p> La piattaforma mette a disposizione il testo integrale dell’edizione de <i>I promessi sposi</i> del 1840-42 corredato da quaranta commenti critici, dalle immagini originali e da numerose traduzioni. 
                            <br>*Il progetto è in corso di sviluppo e comprende al momento le immagini di <i>Introduzione e Capitolo I</i>, il commento integrale di Luigi Russo e Mariarosa Bricchi e i commenti all’<i>Introduzione</i> e al <i>Capitolo I</i> degli altri commentatori. 
                            Nell’<a href="./commenti">indice dei commenti</a> sono presenti i capitoli disponibili: la sezione verrà aggiornata man mano che nuovi commenti saranno aggiunti. 
                            </p>
                            <br>
                        <h2 class="text-center mt-0">Introduzione</h2>
                        <hr class="divider" />
                        <p class="mb-4"><i>Leggo Manzoni</i> offre nuovi modi di leggere online <i>I promessi sposi</i> del 1840-42:<br>
                            </p>
                            <p>
                            <ul>
                            <li><u>Il romanzo completo di testi e immagini</u>: è possibile leggere il romanzo, nella versione del 1840-42, corredato dalle <b>vignette originali</b> che erano parte integrante del progetto editoriale, per consentire una lettura “immersiva” dell’opera così come Manzoni l'ha voluta, dopo un ventennio di lavoro.  </li>
                            <li><u>Il romanzo e la critica</u>: il romanzo è accompagnato da <b>quaranta commenti</b>, da quello storico di Policarpo Petrocchi ai più recenti commenti scolastici, che spiegano, linguisticamente e tematicamente, i luoghi notevoli dei testi, e offrono una panoramica della critica manzoniana nel tempo, confrontando punti di vista interpretativi su un’opera che ha sollecitato, nel corso del tempo, reazioni diverse e su cui si è costruita la cultura di un’intera nazione.</li>
                            <li><u>L'apparato iconografico</u>: è possibile anche “vedere” il romanzo, attraverso la sezione dedicata alla <b>Quarantana</b> della <a href="https://dl.ficlit.unibo.it/s/lib/page/home" target="_blank">Digital Library</a> del <a href="https://ficlit.unibo.it/it" target="_blank">Dipartimento di Filologia Classica e Italianistica dell’Università di Bologna</a> dove tutte le vignette della Quarantana sono interrogabili attraverso percorsi tematici (personaggi, luoghi, temi e i motivi).</li>
                            </p><p>Consulta la <b>Guida alla lettura</b> con gli esempi didattici e gli esercizi.
                        </p>
                        <br>
                        <h2 class="text-center mt-0">Il progetto</h2>
                        <hr class="divider" />
                        <p>
                            Il progetto <i>Leggo Manzoni. Quaranta commenti alla quarantana</i>, ideato da <a href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a> e <a href="https://www.unibo.it/sitoweb/francesca.tomasi" target="_blank">Francesca Tomasi</a> del Dipartimento <a href="https://ficlit.unibo.it/it" target="_blank">FICLIT</a> dell’Università di Bologna, è nato nel 2019 nell’ambito del progetto <a href="https://www.alessandromanzoni.org/" target="_blank">PRIN 2017 “Manzoni Online: manoscritti e documenti inediti, tradizione e traduzioni” (prot. 2017CFZFAY)</a>, coordinato da <a href="https://personale.unipr.it/it/ugovdocenti/person/88687" target="_blank">Giulia Raboni</a> (Università di Parma) in collaborazione con centro <a href="https://centri.unibo.it/dharc/en" target="_blank">DH.arc</a> dell’Università di Bologna. 
                        </p>
                            <p>Obiettivo del progetto è stato quello di mettere a disposizione, in un ambiente web liberamente consultabile, l’edizione dei <i>Promessi sposi</i> del 1840-42 corredata dalle immagini e da quaranta commenti critici per consentire una lettura “immersiva” del romanzo, con la guida dei principali studiosi dell’opera manzoniana.</p>
                        <p><b>LEGGO MANZONI</b> non è solo un progetto scientifico, ma un laboratorio condiviso tra Università e Scuola superiore. Il progetto si è sviluppato infatti grazie all’attiva partecipazione di <a href="./credits#scuole">20 scuole</a> secondarie di secondo grado di tutta Italia a due cicli di PCTO (Percorso per le Competenze Trasversali e l’Orientamento): “Adotta un commento ai <i> Promessi Sposi”</i>, organizzati da <a href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a> con <a href="https://www.huygens.knaw.nl/en/medewerkers/beatrice-nava/" target="_blank">Beatrice Nava</a> ed <a href="https://www.unibo.it/sitoweb/ersilia.russo2" target="_blank">Ersilia Russo</a>, nel 2019-2020 e nel 2021-2022, dedicati alla formazione di <i>competenze testuali e digitali</i>, per imparare a riconoscere in rete fonti e testi autorevoli, e apprendere i primi rudimenti della filologia digitale. In 30 ore di lezione, svolte in presenza e on line, guidati dai tutor dell’Università: Beatrice Nava ed Ersilia Russo, più di <a href="./credits#insegnanti">30 insegnanti</a> e 500 studenti hanno contribuito alla digitalizzazione e codifica XML/TEI dei commenti critici ai <i>Promessi sposi</i>.
                            Il progetto è proseguito poi con la collaborazione di due allieve del Corso di <a href="https://corsi.unibo.it/2cycle/DigitalHumanitiesKnowledge" target="_blank">Digital Humanities and Digital Knowlegde</a>  dell’Università di Bologna: <a href="https://www.linkedin.com/in/maria-levchenko-39953284/" target="_blank">Mariia Levchenko</a> e <a href="https://www.linkedin.com/in/giulia-menna-340606233/" target="_blank">Giulia Menna</a>, per la costruzione e implementazione della piattaforma e l’integrazione della sezione <a href="https://dlrc.ficlit.unibo.it/s/lib/faceted-browse/7" target="_blank">VEDO MANZONI</a> della Digital Library del Dipartimento di Filologia Classica e Italianistica dell’Università di Bologna.
                        </p>
                            <a class="btn btn-primary btn-intro" href="./confronta">Vai a Leggo</a>
                            <br>
                        <h2 class="text-center mt-0">Traduco Manzoni*</h2>
                        <hr class="divider" />
                        <p>Il progetto propone, grazie a un algoritmo che permette la creazione automatica di edizioni digitali multilingue di opere letterarie utilizzando modelli neurali (Levchenko 2024), la lettura di dieci traduzioni del romanzo in francese, inglese, tedesco, spagnolo, olandese, polacco, russo e cinese, visualizzabili singolarmente o in parallelo, per confrontare simultaneamente scelte di traduzioni relative alle medesime porzioni di testo. </p>
                        <p>*Il progetto è in corso di sviluppo e comprende al momento le traduzioni di <i>Introduzione</i> e <i>Capitolo I</i>. La sezione verrà aggiornata man mano che nuove traduzioni saranno aggiunti.</p>
                        <p>Si ringraziano Zhang Shihua e Michael Moore, per avere liberalmente concesso la riproduzione di <i>Introduzione</i> e <i>Capitolo I</i> delle traduzioni cinese e inglese. </p>
                        <p>Sono attualmente disponibili le seguenti traduzioni (in ordine cronologico):</p>
                        <ol>
                            <li><i>The Betrothed Lovers: A Milanese Story of the Seventeenth Century. With the Column of Infamy. By Alessandro Manzoni. In Three Volumes</i>, Henry Francis C. Logan, London, Longman, Brown, Green, and Longmans, Paternoster-Row, 1845 [INGLESE].</li>
                            <li><i>De verloofden: eene Milanesche geschiedenis uit de zeventiende eeuw</i>, Vol. 1, Translated by Petrus Van Limburg Brouwer, Groningen, Van Boekeren, 1849 [OLANDESE]. </li>
                            <li><i>Обрученные : Медиолан. быль XVIII [!XVII] столетия, найден. и передел. Александром Манзони</i> / Пер. с итал. В.С. Межевича. Ч. 1-4. - Москва, 1854. - 4 т.; 20. - (Библиотека романов, повестей, путешествий и записок, изд. Н.Н. Улитиным; Вып. 7, т. 1-2, 6-7), 1854 [RUSSO].</li>
                            <li><i>Los desposados: historia milanesa del siglo XVII traducida del italiano</i>, Volume 1, México: Imp. de Andrade y Escalante, 1858 [SPAGNOLO]. </li>
                            <li><i>Les fiancés: histoire milanaise du XVIIe siècle</i>, traduite de l'italien par Rey Dussueil, Paris, Charpentier, 1874 [FRANCESE]. </li>
                            <li><i>Les Fiancés: Histoire Milanaise du XVIe Siècle</i>. Traduction nouvelle sur la dernière édition illustrée revue et publiée sous les yeux de l’auteur par le Marquis de Montgrand, avec des notes historiques et fac-similé de lettres de Manzoni à son traducteur. Nouvelles illustrations de Staal. Paris: Garnier Frères, 1877.</li>
                            <li><i>The Betrothed</i>, by Alessandro Manzoni, London, G. Bell and sons, 1876 [INGLESE]. </li>
                            <li><i>Narzeczeni. Powieść medyolańska z XVII stulecia ze starego rękopisu spisana i przerobiona</i>, tłum. Maria z Siermiradzkich Obrąpalska, Warszawa, 1882 [POLACCO].</li>
                            <li><i>Die Verlobten: eine Mailändischer Geschichte aus dem 17. Jahrhundert</i>, Volume 1, 3th ed., Regensburg, G.J. Manz, 1884 [TEDESCO]. </li>
                            <li>约婚夫妇 /（意大利）孟佐尼 (Manzoni, A.) 著；张世华译. - 南京：译林出版社, 1998, 10 [CINESE]. </li>
                            <li><i>The Betrothed. A novel</i>, translated and with Introduction of Michael Moore, Preface by Pulitzer Prize-Winning Author Jhumpa Lahiri, Modern Library, 2022 [INGLESE]. </li>
                        </ol>

                        </p>
                        <a class="btn btn-primary btn-intro" href="./traduco">Vai a Traduco</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>
