<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %>
        <!-- Masthead-->
        <header class="masthead">
           <!-- <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Introduzione</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <h3 class="text-white-75 mb-5">Quaranta commenti alla Quarantana. Un progetto...</h3>
                        <a class="btn btn-primary btn-xl" href="#introduzione">Scopri di più</a>
                    </div>
                </div>
            </div>
        </header>-->
        <!-- Il progetto-->
        <section class="page-section bg-primary" id="introduzione">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="testo">
                        <h2 class="text-center mt-0">Benvenuti in <br> <i>Leggo Manzoni: quaranta commenti alla Quarantana.*</i></h2>
                        <hr class="divider"></hr>
                            La piattaforma mette a disposizione il testo integrale dell’edizione de <i>I promessi sposi</i> del 1840-42 corredato da quaranta commenti critici e dalle immagini originali. 
                            
                            <br>*Il progetto è in corso di sviluppo e comprende al momento le immagini di <i>Introduzione e Capitolo I</i>, il commento integrale di Luigi Russo e i commenti all’<i>Introduzione</i> e al <i>Capitolo I</i> degli altri autori. Nell’<a href="./commenti">indice dei commenti</a> sono presenti i capitoli disponibili: la sezione verrà aggiornata man mano che nuovi commenti saranno aggiunti. 
                            </p>
                            <br>
                        <h2 class="text-center mt-0">Introduzione</h2>
                        <hr class="divider" />
                        <p class=" mb-4"><i>Leggo Manzoni. Quaranta commenti alla Quarantana</i> offre nuovi modi di leggere online <i>I Promessi sposi</i> del 1840-42:<br>
                            </p>
                            <p>
                            <ul>
                            <li><u>Il romanzo completo di testi e immagini</u>: è possibile leggere il romanzo, nella versione del 1840-42, corredato dalle <b>vignette originali</b> che erano parte integrante del progetto editoriale, per consentire una lettura “immersiva” dell’opera così come Manzoni l'ha voluta, dopo un ventennio di lavoro.  </li>
                            <li><u>Il romanzo e la critica</u>: il romanzo è accompagnato da <b>quaranta commenti</b>, da quello storico di Policarpo Petrocchi ai più recenti commenti scolastici, che spiegano, linguisticamente e tematicamente, i luoghi notevoli dei testi, e offrono una panoramica della critica manzoniana nel tempo, confrontando punti di vista interpretativi su un’opera che ha sollecitato, nel corso del tempo, reazioni diverse e su cui si è costruita la cultura di un’intera nazione.</li>
                            <li><u>L'apparato iconografico</u>: è possibile anche “vedere” il romanzo, attraverso la sezione dedicata alla <b>Quarantana</b> della <a href="https://dl.ficlit.unibo.it/s/lib/page/home" target="_blank">Digital Library</a> del <a href="https://ficlit.unibo.it/it" target="_blank">Dipartimento di Filologia Classica e Italianistica dell’Università di Bologna</a> dove tutte le vignette della Quarantana sono interrogabili attraverso percorsi tematici (personaggi, luoghi, temi e i motivi).</li>
                            </p><p>Consulta la <b>Guida alla lettura</b> con gli esempi didattici e gli esercizi.
                        </p>
                        <br>
                        <h2 class="text-center mt-0">Il progetto</h2>
                        <hr class="divider" />
                        <p>
                            Il progetto <i>Leggo Manzoni. Quaranta commenti alla quarantana</i>, ideato da <a href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a> e <a href="https://www.unibo.it/sitoweb/francesca.tomasi" target="_blank">Francesca Tomasi</a> del Dipartimento <a href="https://ficlit.unibo.it/it" target="_blank">FICLIT</a> dell’Università di Bologna, è nato nel 2019 nell’ambito del <a href="https://www.alessandromanzoni.org/" target="_blank">PRIN 2017 Manzoni Online</a>, coordinato da <a href="https://personale.unipr.it/it/ugovdocenti/person/88687" target="_blank">Giulia Raboni</a> (Università di Parma) in collaborazione con centro <a href="https://centri.unibo.it/dharc/en" target="_blank">DH.arc</a> dell’Università di Bologna. 
                        </p>
                            <p>Obiettivo del progetto è stato quello di mettere a disposizione, in un ambiente web liberamente consultabile, l’edizione dei <i>Promessi sposi</i> del 1840-42 corredata dalle immagini e da quaranta commenti critici per consentire una lettura “immersiva” del romanzo, con la guida dei principali studiosi dell’opera manzoniana.</p>
                        <p><b>LEGGO MANZONI</b> non è solo un progetto scientifico, ma un laboratorio condiviso tra Università e Scuola superiore. Il progetto si è sviluppato infatti grazie all’attiva partecipazione di <a href"">20 scuole</a> [link ai nomi nei CREDITS---DA AGGIUNGERE!!!] secondarie di secondo grado di tutta Italia a due cicli di PCTO (Percorso per le Competenze Trasversali e l’Orientamento): <i>Adotta un commento a “I promessi Sposi”</i>, organizzati da <a href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a> con <a href="https://www.huygens.knaw.nl/en/medewerkers/beatrice-nava/" target="_blank">Beatrice Nava</a> ed <a href="https://www.unibo.it/sitoweb/ersilia.russo2" target="_blank">Ersilia Russo</a>, nel 2019-2020 e nel 2021-2022, dedicati alla formazione di <i>competenze testuali e digitali</i>, per imparare a riconoscere in rete fonti e testi autorevoli, e apprendere i primi rudimenti della filologia digitale. In 30 ore di lezione, svolte in presenza e on line, guidati dai tutor dell’Università: Beatrice Nava ed Ersilia Russo, più di <a href="">30 insegnanti</a> [link ai nomi nei CREDITS---AGGIORNARE!] e 500 studenti hanno contribuito alla digitalizzazione e codifica XML/TEI dei commenti critici ai <i>Promessi sposi</i>.
                            Il progetto è proseguito poi con la collaborazione di due allieve del Corso di <a href="https://corsi.unibo.it/2cycle/DigitalHumanitiesKnowledge" target="_blank">Digital Humanities and Digital Knowlegde</a>  dell’Università di Bologna: <a href="https://www.linkedin.com/in/maria-levchenko-39953284/" target="_blank">Mariia Levchenko</a> e <a href="https://www.linkedin.com/in/giulia-menna-340606233/" target="_blank">Giulia Menna</a>, per la costruzione e implementazione della piattaforma e l’integrazione della sezione <a href="http://137.204.168.19/s/lib/faceted-browse/8" target="_blank">VEDO MANZONI</a> della Digital Library del Dipartimento di Filologia Classica e Italianistica dell’Università di Bologna.
                        </p>
                            <a class="btn btn-primary btn-xl" href="./reader">Vai al Lettore</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>
