<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include ("partials/head"); %>

    <body id="page-top" class="normalFont">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %>
            <!-- Masthead-->
            <header class="masthead">
                <section class="page-section bg-primary" id="introduzione">
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="testo">
                                <h2 class="text-center mt-0">News</h2>
                                <hr class="divider">
                                <h2 class="text-center mt-0">Leggo Manzoni/Wo-Dú Manzoni</h2>
                                <p>
                                <p><strong>December 4–5, 2025</strong>. The Leggo Manzoni/Wo-Dú Manzoni project returns
                                    to the University of Bologna with two days of meetings and workshops. On December 4,
                                    from 11:00 a.m. to 1:00 p.m. in the Affreschi Room (Via Zamboni 34), a session
                                    devoted to the <em>Leggo Manzoni – Wo-Dú Manzoni</em> project will take place within
                                    the course <em>Scholarly Editing and Digital Textuality</em>, with Paola Italia,
                                    Roberta Priore, Lorenzo Sabatino, Mariia Levchenko, Silvano Cheng, Qi Su, and Zhaoji
                                    Wang.</p>

                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/locandina.jpg" alt="Leggo Manzoni Event Poster"
                                        class="img-fluid" style="max-width: 600px;">
                                </div>
                                <p>
                                    On December 5, from 3:00 to 4:45 p.m. in the Pascoli Room (Via Zamboni 32), a
                                    meeting for DHDK students, PhD students, and DH.Arc will present Digital Humanities
                                    projects from the Peking University DH Lab (Prof. Qi Su, Dr. Zhaoji Wang, <a
                                        href="https://pkudh.org/" target="_blank">pkudh.org</a>). Afterwards, from 5:00
                                    to 7:00 p.m. in the same room, there will be a presentation of <strong>LEGGO MANZONI
                                        – WO-DÚ MANZONI</strong>, including readings from <em>The Betrothed</em> in
                                    multiple languages and the performance <em>La voce di Manzoni</em> (by Nicola
                                    Bonazzi).
                                </p>
                                <hr class="divider">
                                <h2 class="text-center mt-0">Leggo Manzoni in Beijing and a New Portal on Italian Works
                                    Translated into Chinese
                                </h2>
                                <p>During the Week of the Italian Language in the World, <em>Leggo Manzoni</em> was
                                    presented at the Italian Cultural Institute in Beijing by Prof. Silvano Mo Cheng,
                                    together with the project
                                    <a href="https://italianbooks.pku.edu.cn/it" target="_blank">Bibliografia delle
                                        opere italiane tradotte in cinese (2000–2025)</a>,
                                    a new web portal developed in collaboration with Prof. Qi Su and her research group
                                    at Peking University. The bibliography, freely accessible online, collects and makes
                                    searchable Italian
                                    works translated into Chinese between 2000 and 2025,
                                    providing an important resource for scholars, students, and anyone interested in the
                                    circulation of Italian literature in China.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/wodu3.jpg" alt="Bibliografia della
                                        Letteratura italiana tradotta in Cina" class="img-fluid"
                                        style="max-width: 600px;">
                                    <img src="./assets/images/wodu4.jpg" alt="Bibliografia della
                                        Letteratura italiana tradotta in Cina" class="img-fluid"
                                        style="max-width: 600px;">
                                </div>
                                <hr class="divider">
                                <h2 class="text-center mt-0">Leggo Manzoni on Treccani</h2>
                                <p>The project <em>Leggo Manzoni/Wo-Dú Manzoni</em> has recently been featured on
                                    <a href="https://www.treccani.it/magazine/lingua_italiana/articoli/percorsi/percorsi_636.html"
                                        target="_blank">Treccani</a>
                                    in Federico Pani’s article <em>“Leggo Manzoni a Pechino: Wo-Dú Manzoni”</em> (21
                                    October 2025), which outlines the main stages of the collaboration between the
                                    University of Bologna, Peking University and the project partners. The article describes the research visit to Beijing, the work with the Digital
                                    Humanities centre at Peking University, and the role of <em>Leggo Manzoni</em> as a
                                    digital platform for reading, translating and teaching <em>The Betrothed</em>.</p>

                                <hr class="divider">

                                <h2 class="text-center mt-0">2025 Researchers' Night</h2>
                                <p><strong>September 26, 2025</strong>. At the 2025 Researchers' Night, <em>Leggo
                                        Manzoni</em> drew a curious audience, who
                                    explored the translations of <em>The Betrothed</em> and took part in the
                                    <strong>MEMORY MANZONI</strong> game. The web version of the memory game was built by <strong>Francesca Gaeta</strong>: <a href="https://francescagaeta.github.io/promessi-sposi-memory/" target="_blank">play online</a>.
                                    We warmly thank the organizers, the technical
                                    staff, and especially <strong>Cecilia
                                        Salerno</strong>, <strong>Laura Trombini</strong>, <strong>Luca
                                        Ciarfella</strong>, and <strong>Martina Pensalfini</strong> for their
                                    enthusiasm.
                                </p>

                                <div class="text-center my-4">
                                    <video controls preload="auto" class="img-fluid"
                                        style="max-width: 600px; width: 100%; height: auto; display: block; margin: 0 auto;">
                                        <source src="./assets/images/32912_h264.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>

                                <div class="image-container text-center my-4"
                                    style="display: flex; justify-content: center; align-items: flex-start; gap: 15px; flex-wrap: wrap;">
                                    <img src="./assets/images/notte_poster.jpg" alt="Notte dei Ricercatori 2025 Poster"
                                        class="img-fluid" style="height: 350px; width: auto;">
                                    <img src="./assets/images/notte.jpg" alt="Notte dei Ricercatori 2025 Event"
                                        class="img-fluid" style="height: 350px; width: auto;">
                                </div>
                                <hr class="divider">
                                <h2 class="text-center mt-0">TEI Encoding as a Unified Structure for Multilingual
                                    Digital Editions: The LeggoManzoni Case Study at AIUCD 2025</h2>
                                <p>
                                    <strong>June 13, 2025</strong>. At the AIUCD 2025 conference (Associazione per
                                    l'Informatica Umanistica e la Cultura Digitale), the <i>Leggo Manzoni</i> project
                                    was presented through the paper "<i>TEI Encoding as a Unified Structure for
                                        Multilingual Digital Editions: The LeggoManzoni Case Study</i>". The
                                    presentation, delivered by Mariia Levchenko (Università "Alma Mater" di Bologna),
                                    Beatrice Nava (Universität Wien), and Ersilia Russo (Università degli Studi di
                                    Firenze), illustrated the innovative methodological approach developed for creating
                                    multilingual digital editions.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/aiucd_2025.jpg" alt="AIUCD 2025 Conference"
                                        class="img-fluid" style="max-width: 600px;">
                                </div>

                                <p>
                                    The paper demonstrated how TEI encoding can serve as a unified framework for
                                    managing multiple translations and versions of literary works within a single
                                    digital environment. Using <i>The Betrothed</i> as a case study, the presentation
                                    showcased the technical solutions implemented in the <i>Leggo Manzoni</i> platform
                                    to align and correlate texts across different languages while maintaining scholarly
                                    precision and accessibility for both researchers and students.
                                </p>


                                <hr class="divider">
                                <h2 class="text-center mt-0">Visit to the Research Center for Digital Humanities of
                                    Peking University
                                </h2>
                                <p><strong>March 18, 2025</strong>.
                                    The morning of March 18 was dedicated to a visit to the Research Center for Digital
                                    Humanities at Peking University. We were welcomed and guided by Professor <strong>Qi
                                        Su</strong>, one
                                    of the Center’s founders, and the current director, <strong>Jun Wang</strong>, who
                                    showed us the
                                    facilities and introduced us to their research teams.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/roberta_1sm.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 600px;">
                                </div>
                                <p>Following the tour, a roundtable discussion was held to share ongoing research
                                    projects and digital practices in the field of Digital Humanities at the University
                                    of Bologna and Peking University. Representing the University of Bologna, Roberta
                                    Priore presented the work of the department’s <a
                                        href="https://site.unibo.it/adlab/it" target="_blank">ADLab</a>, highlighting
                                    the key steps for
                                    proper digitization of archival sources, using the <a
                                        href="https://dl.ficlit.unibo.it/s/lib/page/fondo-giuseppe-raimondi">Giuseppe
                                        Raimondi</a> collection as a
                                    case study. This collection contains a variety of materials, including the author's
                                    handwritten notebooks. Her presentation was followed by an overview of <a
                                        href="https://pdd.ficlit.unibo.it/s/percorsi-di-didattica-digitale/page/home">digital
                                        teaching paths</a>, <a
                                        href="https://exhibits.ficlit.unibo.it/s/browse-ficlit-exhibits/page/home">virtual
                                        exhibitions</a>, and <a
                                        href="https://centri.unibo.it/dharc/en/research/projects-at-dh-arc">digital
                                        editions</a>, with a focus on
                                    the <a
                                        href="https://dharc-org.github.io/progetto-vasto/index.html#Home">VaSto</a>, edition
                                    of Storia fiorentina by Benedetto Varchi.
                                </p>

                                <p>The conversation continued with presentations from the hosts, showcasing four
                                    projects that effectively integrate historical tradition and digital innovation. The
                                    first was <a href="https://pkudh.org/project/sqj/">Shī Qiān Jiā</a>, an AI-powered
                                    platform capable of generating Chinese
                                    classical poetry. By entering just a few keywords, users can produce refined verses
                                    based on centuries of literary tradition. The second project introduced was
                                    the <a href="https://pkudh.org/project/rarebib/">National Rare Book Catalog
                                        System</a>, developed in collaboration with the National
                                    Library of China. It offers interactive interfaces, semantic visualizations, and
                                    mapping tools to explore the transmission and distribution of ancient texts.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/roberta_2sm.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 600px;">
                                    <img src="./assets/images/roberta_3sm.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 600px;">
                                </div>

                                <p>The third project, <a href="https://pkudh.org/project/shidianguji/">Shídiǎn</a>, was
                                    presented as a robust platform for reading,
                                    annotating, and studying classical texts, featuring advanced tools such as character
                                    recognition, automated punctuation, and access to digitized materials. Finally, the
                                    session concluded with <a href="https://pkudh.org/project/gc/">Guanchao</a>, a
                                    project that brings Song-dynasty textual
                                    descriptions to life. Using generative AI, it transforms literary passages into
                                    animated scenes and visual representations inspired by traditional Chinese painting,
                                    offering a completely new way to "see" the past.
                                </p>
                                <p>The encounter fostered a valuable exchange on two levels — literature and Digital
                                    Humanities — opening up new perspectives for research and future collaboration.
                                </p>

                                </hr>
                                <h2 class="text-center mt-0">Alessandro Manzoni e <i>I Promessi Sposi</i>: dalle carte
                                    al Web</h2>
                                <p><strong>Italian Cultural Institute in Beijing, March 20, 2025</strong>.
                                    As part of the <strong>Leggo Manzoni/Wo-Dú Manzoni</strong> project, on March 20,
                                    2025, the Italian
                                    Cultural Institute in Beijing hosted a lecture by Professors Giulia Raboni
                                    (University of Parma) and Paola Italia (University of Bologna). The event delved
                                    into Alessandro Manzoni's biography and literary work, focusing on the three drafts
                                    of The Betrothed and their philological development. 
                                </p>

                                <p>
                                    Two essential digital tools were presented: the <a
                                        href="https://www.alessandromanzoni.org/">Manzoni Online</a> portal, providing
                                    access to manuscripts, letters, and the author's library, and the <a
                                        href="https://projects.dharc.unibo.it/leggomanzoni/progetto">Leggo Manzoni
                                        platform</a>, a digital environment that illustrate 1840-42 edition with
                                    critical
                                    commentaries and translations. This event marked a significant moment in the
                                    exchange project between the University of Bologna and Peking University, aimed at
                                    promoting Italian literature in China through Digital Humanities and collaborative,
                                    peer-to-peer teaching.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/lorenzo_1.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/lorenzo_2.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>

                                </hr>
                                <h2 class="text-center mt-0">The LeggoManzoni workshop at Peking University</h2>
                                <p>
                                    <strong>March 20, 2025</strong>. On March 20, the University of Bologna team led an
                                    innovative workshop at Peking
                                    University, introducing Chinese students to digital humanities methodologies via
                                    Manzoni's I Promessi Sposi. The session featured two presentations: First, Prof.
                                    Paola Italia discussed the evolution of the novel from <i>Fermo e Lucia</i> to <i>I
                                        Promessi
                                        Sposi</i>. Next, Mariia Levchenko presented on multilingual digital editions and
                                    the
                                    LeggoManzoni platform's pipeline for integrating multiple translations across
                                    languages and time periods.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/maria_1.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 400px;">
                                    <img src="./assets/images/maria_3.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>
                                <p>
                                    The highlight was the hands-on XML/TEI markup workshop, in which the Chinese
                                    students learned to encode Zhang Shihua's 1998 translation of the novel into
                                    Chinese. This peer-to-peer learning experience showcased the platform's
                                    segment-level alignment technology, enabling precise correlation between the
                                    original Italian text and the Chinese translation segments. Students practiced TEI
                                    encoding principles while contributing to the expansion of the TRADUCO MANZONI
                                    module. This module is part of a broader international collaboration between the
                                    universities of Bologna and Peking aimed at making Italian literature more
                                    accessible through innovative digital tools.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/maria_2.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 600px;">
                                </div>

                                </hr>

                                <h2 class="text-center mt-0">Leggo Manzoni/Wo-Dú Manzoni. Reading <i>The Betrothed</i>
                                    in Beijing</h2>
                                <p>
                                    <strong>March 13–25, 2025</strong>. From March 13 to 25, 2025, the <i>Leggo
                                        Manzoni</i>
                                    project will be presented at Peking University, as part of the initiative:
                                    <strong>Leggo
                                        Manzoni/Wo-Dú Manzoni. Reading <i>The Betrothed</i> in Beijing</strong>, which
                                    aims to develop a series of educational collaborations between the University of
                                    Bologna (Prof. Paola Italia), the University of Parma (Prof. Giulia Raboni), the
                                    degree course in <i>Italian Language and Literature</i>, and the <i>Digital
                                        Humanities</i> center at Peking University, coordinated by Prof. Silvano Mo
                                    Cheng.
                                    The project, developed under the patronage of the
                                    <a href="https://www.casadelmanzoni.it/il-centro-nazionale-di-studi-manzoniani"
                                        target="_blank">National Center for Manzonian Studies</a>,
                                    in collaboration with the <a href="https://iicpechino.esteri.it/it/"
                                        target="_blank">Italian Cultural Institute</a> in Beijing and the
                                    <a href="https://www.treccani.it/fondazione/" target="_blank">Treccani
                                        Foundation</a>, will run from 2025 to 2026,
                                    and will involve – through an innovative peer-to-peer teaching method – students
                                    from the University of Bologna as teaching tutors and students from Peking
                                    University.
                                </p>
                                <p>To learn more <a href="./pekino">visit the dedicated page</a> or
                                    <a href="https://magazine.unibo.it/archivio/2025/01/15/leggere-i-promessi-sposi-a-pechino"
                                        target="_blank">read the article on UniBo Magazine</a>.
                                </p>
                                <hr class="divider">
                                </hr>
                                <h2 class="text-center mt-0">"Bringing Manzoni to China" – Corriere di Bologna</h2>
                                <p>
                                    <strong>March 12, 2025</strong>. Today, Corriere di Bologna published an article
                                    entitled "Bringing Manzoni to China" describing the Unibo project "Leggo
                                    Manzoni/Wo-Dú Manzoni" led by Prof. Paola Italia. The article, written by Massimo
                                    Marino, describes the initiative that will make <i>The Betrothed</i> available in
                                    Chinese, through the collaboration between the University of Bologna, the University
                                    of Parma and Peking University with Prof. Silvano Mo Cheng.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/12_03_2025.jpg"
                                        alt="Corriere di Bologna Article - Bringing Manzoni to China" class="img-fluid"
                                        style="max-width: 900px;">
                                </div>
                                <p>
                                    Read the full article on the
                                    <a href="https://corrieredibologna.corriere.it/notizie/cultura-e-tempo-libero/25_marzo_12/alessandro-manzoni-il-progetto-dell-universita-di-bologna-i-promessi-sposi-anche-in-cinese-546ac174-11ec-43ca-88c7-5f1d64940xlk.shtml"
                                        target="_blank">Corriere di Bologna</a>.
                                </p>
                                <hr class="divider">
                                </hr>
                                <h2 class="text-center mt-0">Leggo Manzoni in <i>Resto del Carlino</i></h2>
                                <p>
                                    <strong>March 11, 2025</strong>. Today, the newspaper <i>Il Resto del Carlino</i>
                                    has
                                    published an in-depth article on the project "Leggo Manzoni/Wo-Dú Manzoni. Reading
                                    <i>The Betrothed</i> in Beijing". In the article, journalist Martina Spaggiari
                                    describes the Alma Mater initiative that will lead to the creation of a digital
                                    edition of Alessandro Manzoni's novel with a parallel Chinese text.
                                </p>
                                <p>
                                    The article highlights the cultural and innovative value of the project, with Prof.
                                    Paola Italia explaining: "<i>The Betrothed</i> is the only required novel in our
                                    schools, and certainly the least loved." She also points out how the project is part
                                    of a path started years ago: "Manzoni became a digital humanities case study and in
                                    2014 the website <i><a
                                            href="https://alessandromanzoni.org">alessandromanzoni.org</a></i> was born,
                                    a pioneering operation which later
                                    inspired all other monographic sites."
                                </p>
                                <p>
                                    Read the full article on
                                    <a href="https://www.ilrestodelcarlino.it/cultura/leggere-i-promessi-sposi-a-11406467"
                                        target="_blank">Resto del Carlino</a>.
                                </p>
                                <hr class="divider">
                                </hr>

                                <h2 class="text-center mt-0">Publication of the Proceedings of the Training Course
                                    "Manzoni and Leopardi in Digital"</h2>
                                <p>
                                    <strong>February 19, 2025</strong>. The volume "<i>Manzoni e
                                        Leopardi in digitale: idee e progetti per la scuola</i>", edited by Ersilia
                                    Russo, has been published by CLUEB and collects
                                    the proceedings of the Teacher Training Course held in Bologna in September 2023.
                                    The volume, which includes the presentation of <i>Leggo Manzoni</i> as part of the
                                    course, offers a broad overview of digital tools for teaching Italian literature.
                                </p>
                                <p>
                                    For more information and to read an extract of the volume, visit the
                                    <a href="https://clueb.it/libreria/lexis/lexis-biblioteca-delle-lettere/manzoni-e-leopardi-in-digitale/"
                                        target="_blank">dedicated page on the CLUEB website</a>.
                                </p>
                                <hr class="divider">
                                </hr>
                                <h2 class="text-center mt-0">Leggo Manzoni in the Sole 24 Ore podcast</h2>
                                <p>
                                    <strong>February 2, 2025</strong>. The volume <i>Manzoni and Leopardi in
                                        Digital</i>, edited by Ersilia Russo (CLUEB, 2024), was mentioned in the Sole 24
                                    Ore podcast dedicated to the characters of <i>The Betrothed</i>. The podcast is
                                    available on the
                                    <a href="https://podcast.ilsole24ore.com/serie/start-ADRW1cD/personaggi-letterari-e-personaggi-reali-AGUmKsfC"
                                        target="_blank">Sole 24 Ore platform</a>.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/2025_02_02.jpg" alt="Manzoni and Leopardi in Digital"
                                        class="img-fluid" style="max-width: 900px;">
                                </div>
                                <p>
                                    The volume collects the proceedings of the Teacher Training Course "<i>Manzoni e
                                        Leopardi in digitale: idee e progetti per la scuola</i>", held in Bologna on
                                    September 19 and 21, 2023, organized in collaboration with CUBO, Museo d'impresa del
                                    Gruppo Unipol, as part of PRIN Manzoni 2020 and PRIN Leopardi 2020, and with the
                                    support of the Italian Association for Digital Humanities and Digital Culture
                                    (AIUCD).
                                </p>
                                <hr class="divider">
                                </hr>
                                <h2 class="text-center mt-0">Leggo Manzoni at the Academy of Sciences of Bologna</h2>
                                <p><strong>January 21, 2025</strong>. <i>Leggo Manzoni</i> was presented at the Academy
                                    of Sciences of Bologna, as part of the lecture <i>The Libraries of Alessandro
                                        Manzoni</i>, given by Profs. Paola Italia and Giulia Raboni, for the cycle:
                                    <i>Speaking Books: Journey through the Libraries of Authors</i>, designed by Prof.
                                    Loredana Chines.
                                </p>
                                <p>For more information:
                                    <a href="https://ficlit.unibo.it/it/eventi/le-biblioteche-di-alessandro-manzoni"
                                        target="_blank">visit the event page</a>
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/21_01_2025.jpeg" alt="The Libraries of Alessandro Manzoni"
                                        class="img-fluid" style="max-width: 900px;">
                                </div>

                                <hr class="divider">
                                </hr>
                                <h2 class="text-center mt-0">Alma Leopardi 2024 – 2nd Edition: Il libro delle Canzoni
                                </h2>
                                <p>
                                    <strong>November 28, 2024</strong>. At the Academy of Sciences of Bologna (sala
                                    Manfredi, via Zamboni 31, Bologna) the second edition of Alma Leopardi
                                    took place, dedicated to the "<i>libro delle Canzoni</i>". The event was divided
                                    into two main
                                    sessions:
                                </p>

                                <p>The <strong>First Session</strong> (10:00–13:00), coordinated by Gisele Marozzi and
                                    Roberta Priore, featured talks by Christian Genetelli on "<i>Un libro non come gli
                                        altri?</i>" and Maria Maddalena Lombardi on "<i>Alle Canzoni sono da fare
                                        alcune prose: i 'paratesti' del 1824</i>". Emilio Russo presented "<i>Sugli
                                        autografi delle canzoni. Descrizioni e note critiche</i>".</p>

                                <p>The <strong>Second Session</strong> (14:30–18:30), coordinated by Ilaria Burattini
                                    and Marcello Dani, included a talk by Giorgio Panizza on "<i>Immaginazione:
                                        morte e impeto</i>" and the presentation of "<i>Canzoni di Giacomo Leopardi.
                                        Tomo
                                        I: testi editi e documenti dell'officina del 1824</i>", edited by Ilaria
                                    Burattini and Roberta Priore,
                                    with an introduction by Christian Genetelli (Bites, 2024). The day ended with the
                                    presentation of the volume "<i>E roverar le stelle ad una ad una. Conti</i>" (Milan,
                                    BUR, 2024) and "<i>Manzoni and Leopardi in Digital. Ideas and Projects for
                                        Schools</i>" (Clueb, 2024).
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/28_11_2024.jpeg" alt="Book of Songs" class="img-fluid"
                                        style="max-width: 900px;">
                                </div>
                                <hr class="divider">
                                </hr>

                                <h2 class="text-center mt-0">Leggo Manzoni on NewItalianBook</h2>
                                <p><strong>November 28, 2024</strong>. <i>Leggo Manzoni</i> was presented by Beatrice
                                    Nava in the "Inchieste" section of <i>NewItalianBooks.it</i>.</p>
                                <p>Read the article:
                                    <a href="https://www.newitalianbooks.it/it/inchieste/leggo-manzoni-wo-du-manzoni-leggere-i-promessi-sposi-a-pechino/"
                                        target="_blank">Leggo Manzoni/Wo-dú Manzoni: Reading The Betrothed in
                                        Beijing</a>
                                </p>

                                <hr class="divider">
                                </hr>
                                <h2 class="text-center mt-0">Manzoni and Leopardi in Digital: Ideas and Projects for
                                    Schools</h2>
                                <p>
                                    <strong>September 19 & 21, 2023</strong>. At CUBO in Porta Europa (Piazza Vieira de
                                    Mello 5, Bologna) the SOFIA-accredited teacher training course "<i>Manzoni and
                                        Leopardi in Digital: Ideas and Projects for Schools</i>" was held. The event,
                                    organized by the University of Bologna "Alma Mater" in collaboration with CUBO, the
                                    business museum of the Unipol Group, as part of PRIN Manzoni 2020 and PRIN Leopardi
                                    2020, was attended by many experts in the field.
                                </p>
                                <p>
                                    Among the presentations dedicated to Manzoni: the LECTIO MAGISTRALIS by Salvatore
                                    Silvano Nigro on "Manzoni today", the presentation of the Manzoni Online portal and
                                    its educational applications by Prof. Giulia Raboni, and the talk by Prof. Paola
                                    Italia on "Why still <i>The Betrothed</i> in school?". Special attention was paid to
                                    digital tools for teaching, including Leggo Manzoni, Philoeditor, the "Sposi
                                    promessi" on Spotify, and the use of Voyant Tools for <i>The Betrothed</i>.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/19_09_2023.jpg" alt="Manzoni and Leopardi in Digital"
                                        class="img-fluid" style="max-width: 900px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </header>
            <!-- Footer-->
            <%- include("partials/footer"); %>
                <!-- Scripts-->
                <%- include("partials/scripts"); %>
    </body>

</html>