<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include ("partials/head"); %>

    <body id="page-top" class="normalFont">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %>
            <!-- Masthead-->
            <header class="masthead">
                <section class="page-section bg-primary" id="introduzione">
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="testo">
                                <h2 class="text-center mt-0">Leggo Manzoni/Wo-Dú Manzoni. Leggere <i>I Promessi
                                        sposi</i> a Pechino</h2>
                                <hr class="divider">
                                </hr>

                                <h3>Il progetto</h3>
                                <p>
                                    L'Università di Bologna (Prof.ssa Paola Italia) con il /DH.ARC (Prof.ssa Francesca
                                    Tomasi),
                                    in collaborazione con l'Università di Parma (Prof.ssa Giulia Raboni), il corso di
                                    Laurea in
                                    <i>Lingue e Letteratura Italiana</i> e il centro di <i>Digital Humanities</i>
                                    dell'Università di Pechino,
                                    coordinato dal prof. Silvano Mo Cheng, presentano: <strong>Leggo Manzoni/Wo-Dú
                                        Manzoni.
                                        Leggere <i>I Promessi sposi</i> a Pechino</strong>, un progetto sviluppato
                                    all'interno del
                                    <strong>Bando Strutture 2024-2026</strong> dell'Università di Bologna: <i>Progetti
                                        innovativi
                                        nell'ambito degli accordi di cooperazione internazionale</i>.
                                </p>

                                <p>
                                    Il progetto, che ha avuto il patrocinio del
                                    <a href="https://www.casadelmanzoni.it/il-centro-nazionale-di-studi-manzoniani"
                                        target="_blank">Centro Nazionale di Studi Manzoniani</a>,
                                    <a href="https://iicpechino.esteri.it/it/" target="_blank">dell'Istituto Italiano di
                                        Cultura</a> a Pechino e della
                                    <a href="https://www.treccani.it/fondazione/" target="_blank">Fondazione
                                        Treccani</a>, sviluppa nel biennio 2024-2026
                                    ed è dedicato allo sviluppo della sezione <strong>TRADUCO MANZONI</strong> del
                                    portale LEGGO MANZONI,
                                    implementando l'innovativo <a href="https://arxiv.org/abs/2410.13255"
                                        target="_blank">modulo di traduzione</a>
                                    progettato da <strong>Mariia Levchenko</strong> del <strong>Digital Humanities and
                                        Digital Knowledge</strong>
                                    dell'Università di Bologna, grazie al quale sono state già inserite on line
                                    traduzioni del romanzo in inglese,
                                    francese, tedesco, ukraino, russo, polacco, finlandese.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/screenshot.png" alt="traduzione chinese" class="img-fluid"
                                        style="max-width: 900px;">
                                </div>
                                <p>Il progetto coinvolge studenti dell’Università di Bologna, in qualità di tutor
                                    didattici, e studenti dell’Università di Pechino,
                                    in qualità di discenti, in una sperimentazione di didattica peer-to-peer. </p>
                                <p>
                                    La collaborazione tra il Dipartimento di <i>Filologia Classica e Italianistica</i> e
                                    la <i>Facoltà di Lingue Straniere</i>
                                    dell’Università di Pechino si situa nell’ambito dell’accordo quadro tra l’Università
                                    di Bologna e l’Università di Pechino,
                                    ed è volta non solo a far conoscere agli studenti italiani e cinesi i reciproci
                                    ambienti di formazione e lavoro
                                    e a interessare gli studenti cinesi e la popolazione cinese alla lettura del romanzo
                                    manzoniano, ma anche a sollecitare,
                                    attraverso una <u>piattaforma collaborativa</u>, una maggiore consapevolezza sulle
                                    caratteristiche del testo digitale,
                                    e sviluppare competenze di marcatura e metadatazione, che permetteranno in futuro di
                                    estendere la piattaforma
                                    ad altri testi della letteratura italiana poco conosciuti o non ancora tradotti in
                                    Cina, con una ricaduta sulla collettività,
                                    che qualifica questo progetto non solo nell’ambito della Didattica, ma anche della
                                    <a href="https://ficlit.unibo.it/it/con-societa-e-impresa/presentazione"
                                        target="_blank">Terza missione</a>
                                    del Dipartimento di Filologia Classica e Italianistica.
                                </p>

                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/pekino.jpg" alt="L'entrata dell'Università di Pechino"
                                        class="img-fluid">
                                    <p class="caption mt-2"><i>L'entrata dell'Università di Pechino</i></p>
                                </div>


                                <h3>Le traduzioni cinesi dei Promessi sposi</h3>
                                <p>
                                    Il testo cinese di riferimento del progetto si basa sulla traduzione del prof.
                                    <strong>Zhang Shihua</strong>,
                                    messa a disposizione dal traduttore: Alessandro Manzoni, Zhang
                                    Shihua张世华(traduttore).
                                    <i>Yuehun fufu 约婚夫妇</i>. Yilin, Nanchino 译林出版社, 1998.
                                </p>
                                <p>
                                    La prima versione viene realizzata nel 1935 da Jia Liyan e Xue Ping, che però
                                    traducono il romanzo
                                    dalla versione inglese. La prima vera e propria traduzione è perciò quella di Zhang
                                    Shihua 张世华,
                                    pubblicata da Yilin di Nanchino, seguita da quella di Wang Yongnian 王永年, pubblicata
                                    nel 2008
                                    dalla casa editrice Huaxia di Pechino.
                                </p>
                                <h3>Bibliografia</h3>
                                <ul class="bibliography">
                                    <li><strong>Imparato 2008</strong> - Francesco Maria Imparato, <a
                                            href="https://club.it/autori/culture2008/16bIMPIMPARATO.pdf"
                                            target="_blank"><i>I promessi sposi in cinese. Scelte traduttive a
                                                confronto</i></a>, in "Culture", Annali del Dipartimento di Lingue e
                                        culture contemporanee della Facoltà di Scienze Politiche dell'Università di
                                        Milano, n. 21 (2008), pp. 251-274.</li>
                                    <li><strong>Bricchi 2012</strong> - <a
                                            href="https://www.academia.edu/10263850/La_fortuna_editoriale_dei_Promessi_sposi_Atlante_della_letteratura_italiana_Einaudi_"
                                            target="_blank"><i>La fortuna editoriale dei Promessi sposi</i></a>, in
                                        <i>Atlante della Letteratura italiana</i>, a cura di Sergio Luzzatto e Gabriele
                                        Pedullà, Torino, Einaudi, 2012, vol. III, pp. 119-127.
                                    </li>
                                    <li><strong>Gao 2020</strong> - Changxu Gao, <a
                                            href="https://iris.uniroma1.it/retrieve/e383532f-134e-15e8-e053-a505fe0a3de9/Tesi_dottorato_Gao.pdf"
                                            target="_blank"><i>Italian literature in the Republic of China: translators,
                                                interpreters, intellectuals, and their networks</i></a>, Tesi di
                                        Dottorato discussa presso l'Università La Sapienza di Roma, tutor Prof.ssa
                                        Alessandra Brezzi.</li>
                                    <li><strong>Bulfoni 2023</strong> - Clara Bulfoni, <a
                                            href="https://air.unimi.it/handle/2434/166324?mode=complete"
                                            target="_blank"><i>L'Ambrosiana nella traduzioni cinesi de I Promessi
                                                Sposi</i></a> (Intervento presentato al 4. convegno “Tradizioni
                                        religiose e trasformazioni dell'Asia contemporanea”, Milano, 2011).</li>
                                    <li><strong>Levchenko 2024</strong> - Mariia Levchenko, <a
                                            href="https://ceur-ws.org/Vol-3834/paper128.pdf"
                                            target="_blank"><i>Automatic Translation Alignment Pipeline for Multilingual
                                                Digital Editions of Literary Works</i></a>, CHR 2024: Computational
                                        Humanities Research Conference, December 4-6, 2024, Aarhus, Denmark.</li>
                                </ul>

                                <h3>Il Team del progetto</h3>
                                <h4>Responsabilità scientifica:</h4>
                                <ul>
                                    <li><strong>Paola Italia</strong> - Professoressa di Filologia della Letteratura
                                        Italiana e Scholarly Editing,
                                        Università di Bologna</li>
                                    <li><strong>Francesca Tomasi</strong> - Professoressa di Digital Humanities e
                                        Patrimonio Culturale,
                                        Università di Bologna</li>
                                    <li><strong>Giulia Raboni</strong> - Professoressa di Filologia della Letteratura
                                        Italiana,
                                        Università di Parma e Direttrice del portale <a
                                            href="https://www.alessandromanzoni.org/"
                                            target="_blank">AlessandroManzoni.Org</a></li>
                                    <li><strong>Silvano Mo Cheng</strong> - Professore di Lingua e Letteratura Italiana,
                                        Università di Pechino</li>
                                </ul>

                                <h4>Collaboratori:</h4>
                                <ul>
                                    <li><strong>Roberta Priore</strong> - assegnista di ricerca del AdLab, Università di
                                        Bologna</li>
                                    <li><strong>Mariia Levchenko</strong> - studentessa del corso di laurea di Digital
                                        Humanities
                                        and Digital Knowledge dell'Università di Bologna</li>
                                    <li><strong>Lorenzo Sabatino</strong> - dottorando del Dottorato Cultural Heritage
                                        in the Digital Ecosystem dell'Università di Bologna</li>
                                </ul>
                                <h4>Istituzioni partner:</h4>
                                <li>Università di Bologna – <a href="https://ficlit.unibo.it/it"
                                        target="_blank">Dipartimento di Filologia Classica e Italianistica</a></li>
                                <li>Università di Parma – <a href="https://www.unipr.it/ugov/organizationunit/186475"
                                        target="_blank">Dipartimento di Discipline Umanistiche, Sociali e delle Imprese
                                        Culturali</a></li>
                                <li>Università di Pechino – Scuola di Lingue e Letterature</li>

                                <h3>Programma</h3>
                                <li><strong>Durata del progetto</strong>: 12 mesi</li>
                                <li><strong>Data inizio:</strong> 13 marzo 2025</li>
                                <li><strong>Data fine:</strong> 30 marzo 2026</li>
                                <li><strong>Budget Totale</strong>: 6000 euro</li>
                                <li><strong>Temi del progetto</strong>: Digital Humanities, Didattica digitale;
                                    Didattica <i>peer to peer</i></li>

                                <h4>Date principali:</h4>
                                <ul>
                                    <li><strong>13-25 marzo 2025</strong>: Bologna-Pechino</li>
                                    <li><strong>15-30 Novembre 2025</strong>: Pechino-Bologna</li>
                                    <li><strong>30 MARZO 2026</strong>: EVENTO FINALE</li>
                                </ul>

                                <h3>Attivita</h3>

                                <p><strong>18 marzo, 2025. Visita presso il laboratorio DH dell’Università di Pechino.
                                    </strong>.
                                    Il 18 marzo il team di <i>Leggo Manzoni</i> ha visitato il Research Center for
                                    Digital
                                    Humanities, guidata dalla professoressa <strong>Qi
                                        Su</strong>, una delle fondatrici del centro, e dal direttore, <strong>Jun
                                        Wang</strong> che hanno mostrato gli spazi e permesso di incontrare il
                                    loro team di ricercatori.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/roberta_1sm.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 600px;">
                                </div>
                                <p>Alla visita è seguita una tavola rotonda di confronto dei progetti di ricerca e le
                                    pratiche digitali nell’ambito delle DH tra Università di Bologna e Università di
                                    Pechino.
                                    Roberta Priore, come Università di Bologna, ha presentato i lavori del laboratorio
                                    del dipartimento, <a href="https://site.unibo.it/adlab/it"
                                        target="_blank">ADLab</a>, evidenziando i passaggi necessari per una corretta
                                    digitalizzazione delle fonti, usando l’esempio del fondo <a
                                        href="https://dl.ficlit.unibo.it/s/lib/page/fondo-giuseppe-raimondi">Giuseppe
                                        Raimondi</a>, che conserva materiale eterogeneo tra cui i quaderni autografi
                                    dello scrittore. A quest’introduzione è seguita una panoramica sulle <a
                                        href="https://exhibits.ficlit.unibo.it/s/browse-ficlit-exhibits/page/home">mostre
                                        virtuali</a>, <a
                                        href="https://pdd.ficlit.unibo.it/s/percorsi-di-didattica-digitale/page/home">i
                                        percorsi di didattica digitali</a>,
                                    e <a href="https://centri.unibo.it/dharc/en/research/projects-at-dh-arc">le edizioni
                                        digitali</a>, usando come caso quello dell’edizione <a
                                        href="https://dharc-org.github.io/progetto-vasto/index.html#Home">VaSto</a>, dedicata
                                    alla Storia fiorentina di Benedetto Varchi.
                                </p>

                                <p>Il confronto è continuato poi con la presentazione dei lavori dei padroni di casa,
                                    con quattro progetti che dimostrano la capacità di integrare la storia della
                                    tradizione e le innovazioni digitali. Il primo è <a
                                        href="https://pkudh.org/project/sqj/">Shī Qiān Jiā</a>, una piattaforma
                                    alimentata da intelligenza artificiale capace di generare poesia classica cinese.
                                    Basta inserire poche parole per vedere nascere dei versi, modellati su secoli di
                                    letteratura antica. Proseguendo, il secondo progetto presentato è stato quello
                                    dedicato <a href="https://pkudh.org/project/rarebib/">Sistema Nazionale dei Libri
                                        Rari</a>, dun progetto nato in collaborazione con la Biblioteca Nazionale
                                    Cinese. Qui si può esplorare un imponente patrimonio librario attraverso interfacce
                                    interattive, visualizzazioni semantiche e mappe che raccontano la storia della
                                    trasmissione dei testi antichi.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/roberta_2sm.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 600px;">
                                    <img src="./assets/images/roberta_3sm.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 600px;">
                                </div>

                                <p>Inoltre, la piattaforma <a href="https://pkudh.org/project/shidianguji/">Shídiǎn</a>,
                                    è
                                    stata presentata come un potente strumento per leggere, annotare e studiare i testi
                                    classici, con funzionalità avanzate come il riconoscimento dei caratteri, la
                                    punteggiatura automatica e l’accesso a testi digitalizzati. Infine, il confronto si
                                    è concluso co <a href="https://pkudh.org/project/gc/">Guanchao</a>, un progetto che
                                    restituisce vita e forma alle descrizioni testuali della dinastia Song. Attraverso
                                    l’uso di intelligenza artificiale generativa, i testi si trasformano in scene
                                    animate e visualizzazioni ispirate all’arte pittorica tradizionale, permettendo di
                                    "vedere" il passato in un modo completamente nuovo.
                                </p>
                                <p>L’incontro ha permesso un confronto su un duplice piano, quello della letteratura e
                                    quello delle Digital Humanities, stimolando nuove prospettive di ricerca e di
                                    collaborazione.
                                </p>

                                </hr>

                                <p>
                                    <strong>20 marzo, 2025. The Leggo Manzoni workshop at Peking University.</strong>.
                                    Il 20 marzo, il Team dell'Università di Bologna ha
                                    tenuto un innovativo workshop presso l'Università di Pechino, presentando agli
                                    studenti cinesi i metodi delle Digital Humanities attraverso vari progetti legati ai
                                    <i>Promessi Sposi</i> di Manzoni. La sessione ha previsto due presentazioni: la
                                    prima, a
                                    cura della Prof.ssa Paola Italia, ha riguardato l'evoluzione del romanzo dal
                                    <i>Fermo e
                                        Lucia</i> ai <i>Promessi Sposi</i>, nelle due edizioni del 1827 e del 1840
                                    (visualizzabili in
                                    <a href="http://projects.dharc.unibo.it/philoeditor/">Philoeditor</a>).
                                    Successivamente, Maria Levchenko ha presentato il modello di
                                    <i>Multilingual Digital Edition</i> e la pipeline della piattaforma
                                    <strong>LeggoManzoni</strong>,
                                    progettata per integrare traduzioni multiple in base a lingue e periodi temporali.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/maria_1.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 400px;">
                                    <img src="./assets/images/maria_3.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>
                                <p>
                                    Particolare interesse ha suscitato il workshop pratico di marcatura XML/TEI, in cui
                                    gli studenti cinesi hanno imparato a codificare la traduzione cinese del romanzo del
                                    1998 di Zhang Shihua. Questa esperienza di apprendimento <i>peer-to-peer</i> ha
                                    mostrato la
                                    tecnologia di allineamento a livello di segmento della piattaforma, consentendo una
                                    correlazione precisa tra il testo italiano originale e i segmenti della traduzione
                                    cinese. Gli studenti hanno avuto l'opportunità di mettere in pratica i principi di
                                    codifica TEI, contribuendo all'espansione del modulo TRADUCO MANZONI. Questo modulo
                                    fa parte di una più ampia collaborazione internazionale tra le università di Bologna
                                    e Pechino volta a rendere la letteratura italiana più accessibile attraverso
                                    strumenti digitali innovativi.

                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/maria_2.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 600px;">
                                </div>
                                <hr />

                                <p><strong>20 marzo 2025. Leggo Manzoni all’IIC di Pechino.</strong>.
                                    Il 20 marzo 2025, presso l’Istituto Italiano di Cultura di Pechino, si è tenuto un
                                    incontro con le professoresse Giulia Raboni (Università di Parma) e Paola Italia
                                    (Università di Bologna): Alessandro Manzoni e I Promessi Sposi: dalle carte al Web /
                                    曼佐尼与《约婚夫妇》：从书页到网络.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/dalla_carte.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">

                                </div>
                                <h4>Alessandro Manzoni e I Promessi Sposi: dalle carte al Web 曼佐尼与《约婚夫妇》：从书页到网络</h4>
                                <p>2025年3月20日，19时. Istituto Italiano di Cultura di Pechino. 意大利驻华大使馆文化中心</p>
                                <p>Evento in italiano-cinese con la traduzione consecutiva a cura del prof. Silvano
                                    Cheng Mo 活动语言：意大利语 - 中文（成沫教授）</p>
                                <p>19.00 Saluto istituzionale di Daniele Galleni, addetto culturale IIC Pechino. 官方致辞:
                                    意大利驻华使馆文化中心文化专员高达宁博士</p>
                                <p>19.05 Conferenza di Paola Italia e Giulia Raboni: Alessandro Manzoni e “I Promessi
                                    sposi”: dalle carte al web. 主题发言：曼佐尼与《约婚夫妇》：从书页到网络. 主讲人：Paola
                                    Italia教授（博洛尼亚大学）；Giulia Raboni教授（帕尔马大学）</p>
                                <p> 19.55 Presentazione del progetto: Leggo Manzoni/Wo-Dú Manzoni. Leggere I Promessi
                                    sposi a Pechino da parte degli studenti del Digital Humanities and Digital Knowledge
                                    master degree e del dottorato Cultural Heritage in the Digital Ecosystem
                                    dell’Università di Bologna, Mariia Levchenko e Lorenzo Sabatino.
                                    项目介绍：“我读曼佐尼：在北京读《约婚夫妇》”. 介绍人：Mariia Levchenko 与 Lorenzo Sabatino（博洛尼亚大学）</p>
                                <p>20.25 Visita guidata alla Mostra reale e virtuale: I Promessi sposi in Europa e nel
                                    mondo. 展览介绍：“《约婚夫妇》在欧洲和全世界的传播”. 介绍人：Giulia Raboni教授与Paola Italia教授</p>
                                <p>20.35 Visita libera alla Mostra allestita in Istituto. 观众自由观看展览</p>
                                <p>21.00 Conclusione dell’evento. 活动结束</p>
                                <p>
                                    La conferenza ha presentato la biografia e la produzione letteraria di Alessandro
                                    Manzoni, focalizzandosi sulle tre stesure de I Promessi Sposi e sulla loro
                                    evoluzione filologica.
                                    Sono stati illustrati il portale <a
                                        href="https://www.alessandromanzoni.org/">Manzoni Online</a>, che offre accesso
                                    a manoscritti, lettere e alla biblioteca dell’autore, Philoeditor, e <a
                                        href="https://projects.dharc.unibo.it/leggomanzoni/progetto">Leggo Manzoni</a>,
                                    e sono state lette parti del testo in traduzione cinese. L’incontro ha rappresentato
                                    un momento chiave del progetto di scambio tra l’Università di Bologna e l’Università
                                    di Pechino, volto a promuovere la letteratura italiana in Cina attraverso le Digital
                                    Humanities e la didattica collaborativa. La collaborazione con IIC Pechino è stata
                                    molto efficace anche per <a href="https://www.instagram.com/p/DHu8opjhfNZ/">la
                                        disseminazione del progetto</a>.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/lorenzo_1.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/lorenzo_2.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>

                                <hr />
                                <p>
                                    <strong>20 marzo-15 aprile Mostra WWManzoni – <i>I Promessi sposi</i> in Europa e
                                        nel mondo
                                        all’IIC di Pechino.</strong> Nell’ambito della serata all’Istituto Italiano di
                                    Cultura è stata inaugurata la mostra WWManzoni – <i>Leggere i Promessi sposi in
                                        Europa
                                        e nel mondo</i>, realizzata nel 2014 da Fondazione Arnoldo e Alberto Mondadori
                                    in
                                    collaborazione con Casa Manzoni, insieme alla <a
                                        href="https://www.movio.beniculturali.it/dsglism/IpromessisposiinEuropaenelmondo/">mostra
                                        virtuale MOVIO</a> ri-allestita per l’occasione.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra1.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra2.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>

                                <p>
                                    La mostra presenta la vita e le opere di Manzoni e le traduzioni del romanzo, con un
                                    approfondimento sulle traduzioni cinesi, realizzate appositamente per la mostra di
                                    Pechino. Per l’inaugurazione è stata allestita anche una Mostra reale di traduzioni
                                    cinesi e di copie “pirata” dei <i>Promessi sposi</i>, che i visitatori hanno potuto
                                    ammirare durante la visita guidata. Il romanzo, infatti, ebbe un enorme successo,
                                    documentato dal gran numero di edizioni e traduzioni, alcune anche illustrate.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra3.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra4.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra5.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 240px;">
                                </div>
                                <div class="image-container text-center my-4">

                                    <img src="./assets/images/mostra6.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">

                                    <img src="./assets/images/mostra7.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra8.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>
                                <hr>
                                <p>
                                    <strong>22 marzo Presentazione della Mostra WWWManzoni – <i>Leggere i Promessi sposi
                                            in
                                            Europa e nel mondo</i> ai bambini della scuola di italiano dell’IIC.
                                    </strong>
                                    Il 22 marzo la Mostra <i>Leggere i Promessi sposi in Europa e nel mondo</i> è stata
                                    presentata ai bambini che frequentano i corsi di Italiano presso l’Istituto Italiano
                                    di Cultura, e alle loro famiglie, in un percorso guidato tra i pannelli della mostra
                                    e utilizzando la sezione VEDO MANZONI, con le illustrazioni dei <i>Promessi
                                        sposi</i>, per
                                    raccontare, con le vicende del romanzo, anche quella della sua avventurosa storia
                                    editoriale.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra9.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra10.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra11.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>
                                <hr>
                                <p>
                                    <strong>16 aprile-10 maggio 2025 Mostra WWManzoni – <i>Leggere i Promessi sposi in
                                            Europa e nel mondo</i> a Dalian. </strong>
                                    Dal 16 aprile al 10 maggio la mostra WWManzoni – <i>Leggere i Promessi sposi in
                                        Europa
                                        e nel mondo</i> è stata portata a Dalian (Liaoning Province), presso la
                                    biblioteca della
                                    Dalian University of Foreign Languages.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra14.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra15.jpg" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra17.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 270px;">
                                </div>
                                <hr>
                                <p>
                                    <strong>7-15 giugno 2025. WWMANZONI - <i>Leggere i Promessi sposi in Europa e nel
                                            mondo</i>
                                        alla Beihang University.</strong>
                                    Dal 7 al 15 giugno 2025 la mostra WWManzoni – <i>Leggere i Promessi sposi in Europa
                                        e
                                        nel mondo</i>, è stata allestita a Pechino, presso l’Institute for Advanced
                                    Studies in
                                    Humanities and Social Sciences della <a href="https://ev.buaa.edu.cn/">Beihang
                                        University</a>.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra18.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 500px;">
                                </div>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra19.png" alt="Visit to Pekino" class="img-fluid"
                                        style="max-width: 500px;">

                                </div>


                                <center><img src="./assets/images/FondazioneTC orizz NERO.png" alt="Pechino" width="300"
                                        class="img-fluid"> <img src="./assets/images/changes.png" alt="Pechino"
                                        width="200" class="img-fluid"></center>


                            </div>
                        </div>
                    </div>
                </section>
            </header>
                <!-- Footer-->
                <%- include("partials/footer"); %>
                    <!-- Scripts-->
                    <%- include("partials/scripts"); %>
    </body>

</html>