<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include ("partials/head"); %>

    <body id="page-top" class="normalFont">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %>
            <!-- Masthead-->
            <header class="masthead">
                <section class="page-section bg-primary" id="introduzione">
                    <div class="container px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="testo">
                                <h2 class="text-center mt-0">LeggoManzoni/Wo-Dú Manzoni. Reading <i>The Betrothed</i> in Beijing</h2>
                                <hr class="divider">
                                </hr>

                                <h3>The Project</h3>
                                <p>
                                    The University of Bologna (Prof. Paola Italia) with /DH.ARC (Prof. Francesca
                                    Tomasi),
                                    in collaboration with the University of Parma (Prof. Giulia Raboni), the degree course in
                                    <i>Italian Language and Literature</i> and the <i>Digital Humanities</i> center
                                    of Peking University,
                                    coordinated by Prof. Silvano Mo Cheng, present: <strong>LeggoManzoni/Wo-Dú
                                        Manzoni.
                                        Reading <i>The Betrothed</i> in Beijing</strong>, a project developed
                                    within the
                                    <strong>Bando Strutture 2024-2026</strong> of the University of Bologna: <i>Innovative projects
                                        in the field of international cooperation agreements</i>.
                                </p>

                                <p>
                                    The project, which has received patronage from the
                                    <a href="https://www.casadelmanzoni.it/il-centro-nazionale-di-studi-manzoniani"
                                        target="_blank">National Center for Manzonian Studies</a>,
                                    <a href="https://iicpechino.esteri.it/it/" target="_blank">the Italian Cultural Institute</a> in Beijing and the
                                    <a href="https://www.treccani.it/fondazione/" target="_blank">Treccani
                                        Foundation</a>, develops over the biennium 2024-2026
                                    and is dedicated to developing the <strong>Traduco Manzoni</strong> section of
                                    the LeggoManzoni portal,
                                    implementing the innovative <a href="https://arxiv.org/abs/2410.13255"
                                        target="_blank">translation module</a>
                                    designed by <strong>Mariia Levchenko</strong> from <strong>Digital Humanities and
                                        Digital Knowledge</strong>
                                    at the University of Bologna, thanks to which translations of the novel in English,
                                    French, German, Ukrainian, Russian, Polish, and Finnish have already been uploaded online.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/screenshot.png" alt="chinese translation" class="img-fluid"
                                        style="max-width: 900px;">
                                </div>
                                <p>The project involves students from the University of Bologna, as teaching tutors, and students from Peking University,
                                    as learners, in a peer-to-peer teaching experiment. </p>
                                <p>
                                    The collaboration between the Department of <i>Classical and Italian Philology</i> and
                                    the <i>School of Foreign Languages</i>
                                    of Peking University is situated within the framework agreement between the University
                                    of Bologna and Peking University,
                                    and aims not only to introduce Italian and Chinese students to each other's training and work
                                    environments and to interest Chinese students and the Chinese population in reading Manzoni's
                                    novel, but also to stimulate,
                                    through a <u>collaborative platform</u>, greater awareness of the characteristics of digital text,
                                    and develop markup and metadata skills, which will allow future expansion of the platform
                                    to other texts of Italian literature little known or not yet translated in
                                    China, with an impact on the community,
                                    which qualifies this project not only in the field of Teaching, but also of the
                                    <a href="https://ficlit.unibo.it/it/con-societa-e-impresa/presentazione"
                                        target="_blank">Third Mission</a>
                                    of the Department of Classical and Italian Philology.
                                </p>

                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/pekino.jpg" alt="The entrance of Peking University"
                                        class="img-fluid">
                                    <p class="caption mt-2"><i>The entrance of Peking University</i></p>
                                </div>


                                <h3>Chinese translations of The Betrothed</h3>
                                <p>
                                    The Chinese reference text of the project is based on the translation by Prof.
                                    <strong>Zhang Shihua</strong>,
                                    made available by the translator: Alessandro Manzoni, Zhang
                                    Shihua张世华(translator).
                                    <i>Yuehun fufu 约婚夫妇</i>. Yilin, Nanjing 译林出版社, 1998.
                                </p>
                                <p>
                                    The first version was made in 1935 by Jia Liyan and Xue Ping, who however
                                    translated the novel
                                    from the English version. The first proper translation is therefore that of Zhang
                                    Shihua 张世华,
                                    published by Yilin of Nanjing, followed by that of Wang Yongnian 王永年, published
                                    in 2008
                                    by Huaxia publishing house in Beijing.
                                </p>
                                <h3>Bibliography</h3>
                                <ul class="bibliography">
                                    <li><strong>Imparato 2008</strong> - Francesco Maria Imparato, <a
                                            href="https://club.it/autori/culture2008/16bIMPIMPARATO.pdf"
                                            target="_blank"><i>The Betrothed in Chinese. Comparative translation choices</i></a>, in "Culture", Annali del Dipartimento di Lingue e
                                        culture contemporanee della Facoltà di Scienze Politiche dell'Università di
                                        Milano, n. 21 (2008), pp. 251-274.</li>
                                    <li><strong>Bricchi 2012</strong> - <a
                                            href="https://www.academia.edu/10263850/La_fortuna_editoriale_dei_Promessi_sposi_Atlante_della_letteratura_italiana_Einaudi_"
                                            target="_blank"><i>The editorial fortune of The Betrothed</i></a>, in
                                        <i>Atlas of Italian Literature</i>, edited by Sergio Luzzatto and Gabriele
                                        Pedullà, Turin, Einaudi, 2012, vol. III, pp. 119-127.
                                    </li>
                                    <li><strong>Gao 2020</strong> - Changxu Gao, <a
                                            href="https://iris.uniroma1.it/retrieve/e383532f-134e-15e8-e053-a505fe0a3de9/Tesi_dottorato_Gao.pdf"
                                            target="_blank"><i>Italian literature in the Republic of China: translators,
                                                interpreters, intellectuals, and their networks</i></a>, Doctoral Thesis
                                        discussed at La Sapienza University of Rome, supervisor Prof.
                                        Alessandra Brezzi.</li>
                                    <li><strong>Bulfoni 2023</strong> - Clara Bulfoni, <a
                                            href="https://air.unimi.it/handle/2434/166324?mode=complete"
                                            target="_blank"><i>The Ambrosiana in Chinese translations of The Betrothed</i></a> (Paper presented at the 4th conference "Religious traditions and transformations of contemporary Asia", Milan, 2011).</li>
                                    <li><strong>Levchenko 2024</strong> - Mariia Levchenko, <a
                                            href="https://ceur-ws.org/Vol-3834/paper128.pdf"
                                            target="_blank"><i>Automatic Translation Alignment Pipeline for Multilingual
                                                Digital Editions of Literary Works</i></a>, CHR 2024: Computational
                                        Humanities Research Conference, December 4-6, 2024, Aarhus, Denmark.</li>
                                        <li>
                                        <strong>Muñiz 2025</strong> - María de las Nieves Muñiz Muñiz. «Sulle traduzioni
                                        di Manzoni in Spagna fra storia e metodologia. Il caso dei <i>Promessi sposi</i>», en
                                        L'Italiano tradotto e da tradurre, actas del V Congreso internacional ASELIT,
                                        Universitat de Barcelona, 26-28 de marzo de 2025, ed. de Giorgia Marangon,
                                        Granada, Comares, 2025.

                                    </li>
                                    <li>
                                        Alessandro Manzoni: Le sue opere nel mondo / [a cura di] P. Frare, G. Iamartino. Milano: Franco Angeli, 2025.
                                    </li>
                                </ul>

                                <h3>The Project Team</h3>
                                <h4>Scientific responsibility:</h4>
                                <ul>
                                    <li><strong>Paola Italia</strong> - Professor of Philology of Italian Literature and Scholarly Editing,
                                        University of Bologna</li>
                                    <li><strong>Francesca Tomasi</strong> - Professor of Digital Humanities and Cultural Heritage,
                                        University of Bologna</li>
                                    <li><strong>Giulia Raboni</strong> - Professor of Philology of Italian Literature,
                                        University of Parma and Director of the portal <a
                                            href="https://www.alessandromanzoni.org/"
                                            target="_blank">AlessandroManzoni.Org</a></li>
                                    <li><strong>Silvano Mo Cheng</strong> - Professor of Italian Language and Literature,
                                        Peking University</li>
                                </ul>

                                <h4>Collaborators:</h4>
                                <ul>
                                    <li><strong>Roberta Priore</strong> - research fellow at AdLab, University of
                                        Bologna</li>
                                    <li><strong>Mariia Levchenko</strong> - student of the Digital Humanities
                                        and Digital Knowledge degree course at the University of Bologna</li>
                                    <li><strong>Lorenzo Sabatino</strong> - PhD student in the Cultural Heritage
                                        in the Digital Ecosystem PhD program at the University of Bologna</li>
                                </ul>
                                <h4>Partner institutions:</h4>
                                <li>University of Bologna – <a href="https://ficlit.unibo.it/it"
                                        target="_blank">Department of Classical and Italian Philology</a></li>
                                <li>University of Parma – <a href="https://www.unipr.it/ugov/organizationunit/186475"
                                        target="_blank">Department of Humanities, Social Sciences and Cultural Industries</a></li>
                                <li>Peking University – School of Languages and Literatures</li>

                                <h3>Program</h3>
                                <li><strong>Project duration</strong>: 12 months</li>
                                <li><strong>Start date:</strong> March 13, 2025</li>
                                <li><strong>End date:</strong> March 30, 2026</li>
                                <li><strong>Total Budget</strong>: 6000 euros</li>
                                <li><strong>Project themes</strong>: Digital Humanities, Digital teaching;
                                    <i>Peer to peer</i> teaching</li>

                                <h4>Main dates:</h4>
                                <ul>
                                    <li><strong>March 13-25, 2025</strong>: Bologna-Beijing</li>
                                    <li><strong>December 4-5, 2025</strong>: Beijing-Bologna</li>
                                    <li><strong>MARCH 30, 2026</strong>: FINAL EVENT</li>
                                </ul>

                                <h3>Activities</h3>

                                <p><strong>March 18, 2025. Visit to the DH laboratory at Peking University.
                                    </strong>.
                                    On March 18, the <i>LeggoManzoni</i> team visited the Research Center for
                                    Digital
                                    Humanities, guided by Professor <strong>Qi
                                        Su</strong>, one of the founders of the center, and by the director, <strong>Jun
                                        Wang</strong> who showed the spaces and allowed them to meet their
                                    research team.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/roberta_1sm.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 600px;">
                                </div>
                                <p>The visit was followed by a round table comparing research projects and
                                    digital practices in the field of DH between the University of Bologna and Peking University.
                                    Roberta Priore, representing the University of Bologna, presented the work of the department laboratory,
                                    <a href="https://site.unibo.it/adlab/it"
                                        target="_blank">ADLab</a>, highlighting the necessary steps for correct
                                    digitization of sources, using the example of the <a
                                        href="https://dl.ficlit.unibo.it/s/lib/page/fondo-giuseppe-raimondi">Giuseppe
                                        Raimondi</a> collection, which preserves heterogeneous material including the writer's autograph notebooks. This introduction was followed by an overview of <a
                                        href="https://exhibits.ficlit.unibo.it/s/browse-ficlit-exhibits/page/home">virtual exhibitions</a>, <a
                                        href="https://pdd.ficlit.unibo.it/s/percorsi-di-didattica-digitale/page/home">digital teaching paths</a>,
                                    and <a href="https://centri.unibo.it/dharc/en/research/projects-at-dh-arc">digital editions</a>, using as a case the <a
                                        href="https://dharc-org.github.io/progetto-vasto/index.html#Home">VaSto</a> edition, dedicated
                                    to Benedetto Varchi's Florentine History.
                                </p>

                                <p>The comparison continued with the presentation of the hosts' work,
                                    with four projects that demonstrate the ability to integrate the history of
                                    tradition and digital innovations. The first is <a
                                        href="https://pkudh.org/project/sqj/">Shī Qiān Jiā</a>, a platform
                                    powered by artificial intelligence capable of generating classical Chinese poetry.
                                    Just enter a few words to see verses come to life, modeled on centuries of
                                    ancient literature. Continuing, the second project presented was the one
                                    dedicated to the <a href="https://pkudh.org/project/rarebib/">National Rare Books
                                        System</a>, a project born in collaboration with the Chinese National
                                    Library. Here you can explore an imposing library heritage through interactive
                                    interfaces, semantic visualizations and maps that tell the story of the
                                    transmission of ancient texts.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/roberta_2sm.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 600px;">
                                    <img src="./assets/images/roberta_3sm.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 600px;">
                                </div>

                                <p>Furthermore, the <a href="https://pkudh.org/project/shidianguji/">Shídiǎn</a> platform
                                    was
                                    presented as a powerful tool for reading, annotating and studying
                                    classical texts, with advanced features such as character recognition,
                                    automatic punctuation and access to digitized texts. Finally, the comparison
                                    concluded with <a href="https://pkudh.org/project/gc/">Guanchao</a>, a project that
                                    gives life and form to textual descriptions of the Song dynasty. Through
                                    the use of generative artificial intelligence, texts are transformed into animated
                                    scenes and visualizations inspired by traditional pictorial art, allowing to
                                    "see" the past in a completely new way.
                                </p>
                                <p>The meeting allowed for comparison on a dual level, that of literature and
                                    that of Digital Humanities, stimulating new perspectives for research and
                                    collaboration.
                                </p>

                                </hr>

                                <p>
                                    <strong>March 20, 2025. The LeggoManzoni workshop at Peking University.</strong>.
                                    On March 20, the University of Bologna Team held
                                    an innovative workshop at Peking University, presenting to
                                    Chinese students the methods of Digital Humanities through various projects related to
                                    Manzoni's <i>The Betrothed</i>. The session included two presentations: the
                                    first, led by Prof. Paola Italia, concerned the evolution of the novel from
                                    <i>Fermo e
                                        Lucia</i> to <i>The Betrothed</i>, in the two editions of 1827 and 1840
                                    (viewable in
                                    <a href="http://projects.dharc.unibo.it/philoeditor/">Philoeditor</a>).
                                    Subsequently, Maria Levchenko presented the
                                    <i>Multilingual Digital Edition</i> model and the pipeline of the
                                    <strong>LeggoManzoni</strong> platform,
                                    designed to integrate multiple translations based on languages and time periods.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/maria_1.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 400px;">
                                    <img src="./assets/images/maria_3.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>
                                <p>
                                    Particular interest was aroused by the practical XML/TEI markup workshop, in which
                                    Chinese students learned to encode the Chinese translation of the novel from
                                    1998 by Zhang Shihua. This <i>peer-to-peer</i> learning experience showed
                                    the platform's segment-level alignment technology, enabling precise
                                    correlation between the original Italian text and segments of the Chinese
                                    translation. Students had the opportunity to put TEI encoding principles into practice, contributing to the expansion of the TRANSLATE MANZONI module. This module
                                    is part of a broader international collaboration between the universities of Bologna
                                    and Beijing aimed at making Italian literature more accessible through
                                    innovative digital tools.

                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/maria_2.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 600px;">
                                </div>
                                <hr />

                                <p><strong>March 20, 2025. LeggoManzoni at the IIC in Beijing.</strong>.
                                    On March 20, 2025, at the Italian Cultural Institute in Beijing, a meeting was held
                                    with Professors Giulia Raboni (University of Parma) and Paola Italia
                                    (University of Bologna): Alessandro Manzoni and The Betrothed: from papers to the Web /
                                    曼佐尼与《约婚夫妇》：从书页到网络.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/dalla_carte.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">

                                </div>
                                <h4>Alessandro Manzoni and The Betrothed: from papers to the Web 曼佐尼与《约婚夫妇》：从书页到网络</h4>
                                <p>March 20, 2025, 7:00 PM. Italian Cultural Institute in Beijing. 意大利驻华大使馆文化中心</p>
                                <p>Event in Italian-Chinese with consecutive translation by Prof. Silvano
                                    Cheng Mo 活动语言：意大利语 - 中文（成沫教授）</p>
                                <p>7:00 PM Institutional greeting by Daniele Galleni, cultural attaché IIC Beijing. 官方致辞:
                                    意大利驻华使馆文化中心文化专员高达宁博士</p>
                                <p>7:05 PM Conference by Paola Italia and Giulia Raboni: Alessandro Manzoni and "The Betrothed": from papers to the web. 主题发言：曼佐尼与《约婚夫妇》：从书页到网络. 主讲人：Paola
                                    Italia教授（博洛尼亚大学）；Giulia Raboni教授（帕尔马大学）</p>
                                <p> 7:55 PM Presentation of the project: LeggoManzoni/Wo-Dú Manzoni. Reading The Betrothed in Beijing by students of the Digital Humanities and Digital Knowledge
                                    master's degree and the Cultural Heritage in the Digital Ecosystem
                                    PhD program at the University of Bologna, Mariia Levchenko and Lorenzo Sabatino.
                                    项目介绍："我读曼佐尼：在北京读《约婚夫妇》". 介绍人：Mariia Levchenko 与 Lorenzo Sabatino（博洛尼亚大学）</p>
                                <p>8:25 PM Guided tour of the Real and virtual Exhibition: The Betrothed in Europe and the
                                    world. 展览介绍："《约婚夫妇》在欧洲和全世界的传播". 介绍人：Giulia Raboni教授与Paola Italia教授</p>
                                <p>8:35 PM Free visit to the Exhibition set up at the Institute. 观众自由观看展览</p>
                                <p>9:00 PM End of event. 活动结束</p>
                                <p>
                                    The conference presented the biography and literary production of Alessandro
                                    Manzoni, focusing on the three drafts of The Betrothed and their
                                    philological evolution.
                                    The <a
                                        href="https://www.alessandromanzoni.org/">Manzoni Online</a> portal was illustrated, which offers access
                                    to manuscripts, letters and the author's library, Philoeditor, and <a
                                        href="https://projects.dharc.unibo.it/leggomanzoni/progetto">LeggoManzoni</a>,
                                    and parts of the text were read in Chinese translation. The meeting represented
                                    a key moment of the exchange project between the University of Bologna and Peking
                                    University, aimed at promoting Italian literature in China through Digital
                                    Humanities and collaborative teaching. The collaboration with IIC Beijing was
                                    very effective also for <a href="https://www.instagram.com/p/DHu8opjhfNZ/">the
                                        dissemination of the project</a>.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/lorenzo_1.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/lorenzo_2.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>

                                <hr />
                                <p>
                                    <strong>March 20-April 15 WWManzoni Exhibition – <i>The Betrothed</i> in Europe and
                                        the world
                                        at the IIC in Beijing.</strong> As part of the evening at the Italian Cultural
                                    Institute, the WWManzoni exhibition was inaugurated – <i>Reading The Betrothed in
                                        Europe
                                        and the world</i>, created in 2014 by the Arnoldo and Alberto Mondadori
                                    Foundation in
                                    collaboration with Casa Manzoni, together with the <a
                                        href="https://www.movio.beniculturali.it/dsglism/IpromessisposiinEuropaenelmondo/">MOVIO
                                        virtual exhibition</a> re-installed for the occasion.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra1.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra2.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>

                                <p>
                                    The exhibition presents the life and works of Manzoni and translations of the novel, with an
                                    in-depth look at Chinese translations, created specifically for the Beijing
                                    exhibition. For the inauguration, a real Exhibition of Chinese
                                    translations and "pirate" copies of <i>The Betrothed</i> was also set up, which visitors were able to
                                    admire during the guided tour. The novel, in fact, had enormous success,
                                    documented by the large number of editions and translations, some also illustrated.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra3.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra4.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra5.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 240px;">
                                </div>
                                <div class="image-container text-center my-4">

                                    <img src="./assets/images/mostra6.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">

                                    <img src="./assets/images/mostra7.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra8.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>
                                <hr>
                                <p>
                                    <strong>March 22 Presentation of the WWWManzoni Exhibition – <i>Reading The Betrothed
                                            in
                                            Europe and the world</i> to children from the IIC Italian school.
                                    </strong>
                                    On March 22, the Exhibition <i>Reading The Betrothed in Europe and the world</i> was
                                    presented to children attending Italian courses at the Italian Cultural
                                    Institute, and to their families, in a guided tour among the exhibition panels
                                    and using the SEE MANZONI section, with illustrations from <i>The
                                        Betrothed</i>, to
                                    tell, through the novel's events, also that of its adventurous editorial
                                    history.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra9.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra10.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra11.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>
                                <hr>
                                <p>
                                    <strong>April 16-May 10, 2025 WWManzoni Exhibition – <i>Reading The Betrothed in
                                            Europe and the world</i> in Dalian. </strong>
                                    From April 16 to May 10, the WWManzoni exhibition – <i>Reading The Betrothed in
                                        Europe
                                        and the world</i> was brought to Dalian (Liaoning Province), at the
                                    library of the
                                    Dalian University of Foreign Languages.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra14.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra15.jpg" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 300px;">
                                    <img src="./assets/images/mostra17.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 270px;">
                                </div>
                                <hr>
                                <p>
                                    <strong>June 7-15, 2025. WWMANZONI - <i>Reading The Betrothed in Europe and the
                                            world</i>
                                        at Beihang University.</strong>
                                    From June 7 to 15, 2025, the WWManzoni exhibition – <i>Reading The Betrothed in Europe
                                        and
                                        the world</i>, was set up in Beijing, at the Institute for Advanced
                                    Studies in
                                    Humanities and Social Sciences of <a href="https://ev.buaa.edu.cn/">Beihang
                                        University</a>.
                                </p>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra18.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 500px;">
                                </div>
                                <div class="image-container text-center my-4">
                                    <img src="./assets/images/mostra19.png" alt="Visit to Beijing" class="img-fluid"
                                        style="max-width: 500px;">

                                </div>
                                <hr>
                                <p>
                                    <strong>December 4-5, 2025. The Leggo Manzoni/Wo-Dú Manzoni project returns to the University of Bologna.</strong>
                                    The Leggo Manzoni/Wo-Dú Manzoni project returned to the University of Bologna with two days of meetings and workshops.
                                </p>
                                <p>
                                    On December 4, from 11:00 AM to 1:00 PM in Aula Affreschi (Via Zamboni 34), a session dedicated to the Leggo Manzoni – Wo-Dú Manzoni project was held as part of the Scholarly Editing and Digital Textuality course, with Paola Italia, Roberta Priore, Lorenzo Sabatino, Mariia Levchenko, Silvano Cheng, and Qi Su.
                                </p>
                                 <div class="image-container text-center my-4">
                                    <!-- INSERIRE QUALCHE FOTO -->
                                    <img src="./assets/images/tutti.jpeg" alt="Evento 4 dicembre" class="img-fluid"
                                        style="max-width: 300px;">
                               
                                    <!-- INSERIRE QUALCHE FOTO -->
                                    <img src="./assets/images/lorenzo.jpeg" alt="Evento 4 dicembre" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>
                                <div class="image-container text-center my-4">
                                    <!-- Locandina evento Leggo Manzoni -->
                                    <img src="./assets/images/locandina.jpg" alt="Locandina evento Leggo Manzoni" class="img-fluid"
                                        style="max-width: 400px;">
                                </div>
                                <p>
                                    On December 5, from 3:00 PM to 4:45 PM in Aula Pascoli (Via Zamboni 32), at a meeting aimed at DHDK students, PhD candidates and DH.Arc, the Digital Humanities projects of the DH laboratory at Peking University were presented (Prof. Qi Su, Dr. Zhaoji Wang, <a href="https://pkudh.org" target="_blank">pkudh.org</a>).
                                </p>
                                <div class="image-container text-center my-4">
                                    <!-- PHOTOS -->
                                    <img src="./assets/images/aula.jpeg" alt="December 5 event - DH Peking University" class="img-fluid"
                                        style="max-width: 300px;">
                                         <img src="./assets/images/screen.jpeg" alt="December 5 event - DH Peking University" class="img-fluid"
                                        style="max-width: 300px;">
                                         <img src="./assets/images/speaker.jpeg" alt="December 5 event - DH Peking University" class="img-fluid"
                                        style="max-width: 300px;">
                                </div>
                                <p>
                                    Following that, from 5:00 PM to 7:00 PM in Aula Pascoli, the presentation of LEGGO MANZONI – WO-DÚ MANZONI was held, with readings of passages from <i>The Betrothed</i> in multiple languages by international students from the Scholarly Editing and Digital Textuality course who participated in the project, and the performance <i>Accidenti, Manzoni!</i> (Curated by Nicola Bonazzi).
                                </p>
                                <div class="image-container text-center my-4">
                                    <video controls preload="auto" class="img-fluid" style="max-width: 300px;">
                                        <source src="./assets/images/italian.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <video controls preload="auto" class="img-fluid" style="max-width: 300px;">
                                        <source src="./assets/images/chinese.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <video controls preload="auto" class="img-fluid" style="max-width: 300px;">
                                        <source src="./assets/images/english.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <div class="image-container text-center my-4">
                                    <video controls preload="auto" class="img-fluid" style="max-width: 300px;">
                                        <source src="./assets/images/german.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    <video controls preload="auto" class="img-fluid" style="max-width: 300px;">
                                        <source src="./assets/images/russian.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>

                                <center><img src="./assets/images/FondazioneTC orizz NERO.png" alt="Beijing" width="300"
                                        class="img-fluid"> <img src="./assets/images/changes.png" alt="Beijing"
                                        width="200" class="img-fluid"></center>


                            </div>
                        </div>
                    </div>
                </section>
            </header>
                <!-- Footer-->
                <%- include("partials/footer"); %>
                    <!-- Scripts-->
                    <%- include("partials/scripts"); %>
    </body>

</html>