<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top"  class="normalFont">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %>
        <!-- Masthead-->
        <header class="masthead">
        <section class="page-section bg-primary" id="introduzione">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="testo">
                        <h2 class="text-center mt-0">Welcome to <br> <i>Leggo Manzoni</i></h2>
                        <hr class="divider"></hr>
                        <p>
                            The project <i>Leggo Manzoni</i>, conceived by 
                            <a href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a> and 
                            <a href="https://www.unibo.it/sitoweb/francesca.tomasi" target="_blank">Francesca Tomasi</a> 
                            of the <a href="https://ficlit.unibo.it/it" target="_blank">FICLIT</a> Department of the University of Bologna, 
                            was launched in 2019 within the framework of the <a href="https://www.alessandromanzoni.org/" target="_blank">PRIN 2017 project
                                “Manzoni Online: unpublished manuscripts and documents, tradition and translation” (prot. 2017CFZFAY)</a>. The project is coordinated by
                                da <a href="https://personale.unipr.it/it/ugovdocenti/person/88687" target="_blank">Giulia Raboni</a> 
                                (University of Parma) in collaboration with <a href="https://centri.unibo.it/dharc/en" target="_blank">DH.arc Centre</a> 
                                at the University of Bologna. 
                        </p>

                           <p>The platform offers access to the full text of the 1840-42 edition of <i>I promessi sposi 
                            (The Betrothed)</i> accompanied by the original images and forty critical comments (<a href="./confronta">LEGGO MANZONI</a>), 
                            ten translations (<a href="./traduco">TRADUCO MANZONI</a>) and the digitisation and metadata of the original printed Quarantana
                             (<a href="./vedo">VEDO MANZONI</a>). 
                           </p>
                           <h2 class="text-center mt-0">LEGGO / I READ MANZONI<a href="#leggo_note">*</a></h2>
                        <hr class="divider" />
                        <p><i>Leggo Manzoni. Quaranta commenti alla Quarantana</i> makes available, in a freely consultable web environment, the 1840-42 edition of the 
                            <i>Promessi sposi (The Betrothed)</i> accompanied by images and forty critical commentaries to allow an ‘immersive’ reading of the novel, 
                            with the guidance of the main scholars of Manzoni's work.</p>

                            <p>Leggo Manzoni is not only a scientific project, but also a shared workshop between the University and High Schools. The project has developed thanks to the active participation of
                                 <a href="./credits#scuole">20 secondary schools</a> 
                                 throughout Italy in two PCTO (Percorso per le Competenze Trasversali e l'Orientamento) cycles: 
                            “Adopt a commentary on the <i> Promessi Sposi”</i>, organized by <a href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a> 
                            with <a href="https://www.huygens.knaw.nl/en/medewerkers/beatrice-nava/" target="_blank">Beatrice Nava</a> and 
                            <a href="https://www.letterefilosofia.unifi.it/vp-960-ersilia-russo.html" target="_blank">Ersilia Russo</a>, in 2019-2020 and in 2021-2022. 
                            The initiative is dedicated to developing textual and digital skills, teaching students 
                            how to recognise authoritative sources and texts on the web, and to introducing them to the basics 
                            of digital philology. In 30 hours of lessons, carried out in presence and online, 
                            guided by University tutors Beatrice Nava and Ersilia Russo, 
                            more than <a href="./credits#insegnanti">30 teachers and 500 students</a> 
                            contributed to the digitisation and XML/TEI encoding of critical comments on <i>The Betrothed</i>.
                            The project then continued with the collaboration of two students from the University of Bologna's
                            <a href="https://corsi.unibo.it/2cycle/DigitalHumanitiesKnowledge" target="_blank">Digital Humanities and Digital Knowlegde</a> 
                            course: <a href="https://www.linkedin.com/in/maria-levchenko-39953284/" target="_blank">Mariia Levchenko</a> 
                            and <a href="https://www.linkedin.com/in/giulia-menna-340606233/" target="_blank">Giulia Menna</a>, 
                            who contributed to the development and implementation of the platform.
                        </p>
                        <p class=" mb-4"><i>Leggo Manzoni</i> offers:<br>
                            <ul>
                            <li><u>The full novel with text and images</u>: it is possible to read the novel, 
                                in the 1840-42 version, accompanied by the original cartoons that were an integral part 
                                of the editorial project. This allows an ‘immersive’ reading of the work as envisioned by Manzoni, 
                                after twenty years of work.</li>
                            <li><u>Forty commentaries</u>: from the ‘historical’ commentary by Policarpo Petrocchi 
                                to the most recent scholastic ones, Manzoni's text is explained, linguistically and thematically, 
                                through <a href="./commenti">forty commentaries</a>. 
                                These highlight significant passages of the texts, offering 
                                an overview of Manzonian criticism and compare different interpretative points of view 
                                on a work that has solicited, over time, different reactions and on which 
                                the culture of an entire nation is built.</li>
                            </ul>
                            </p>
                            
                        <p>We would like to thank the authors of the commentaries for allowing the use of their texts, 
                            and in particular Mariarosa Bricchi who made her full commentary available.</p>
                        <p id="leggo_note">*The project is under development and currently includes the images of the Introduction and Chapter I,
                             the full commentary by Luigi Russo and Mariarosa Bricchi, and the comments on the Introduction and Chapter I by other commentators. 
                             The index of comments lists the chapters currently available , this section will be updated as new comments are added.</p>
                                                    <a class="btn btn-primary btn-intro" href="./confronta">Go to Leggo</a>
    <br>
    <br>
                        <h2 class="text-center mt-0">TRADUCO / I TRANSLATE MANZONI<a href="#traduco_note">*</a></h2>
                        <hr class="divider" />
                        <p>Thanks to an algorithm that allows the automatic creation of multilingual 
                            digital editions of literary works using neural models (<a href="https://ceur-ws.org/Vol-3834/paper128.pdf">Levchenko 2024</a>), 
                            the project offers access to <a href="./traduzione">fifteen translations</a> of the novel in French, English, German, Spanish, Dutch, Polish, Russian and Chinese. 
                            These translations can be viewed individually or in parallel, in order to simultaneously compare translation choices relating to the same portions of the text.
                             </p>
                        <p>Many thanks to Zhang Shihua and Michael Moore, for generously permitting the reproduction of <i>Introduction</i> 
                            and <i>Chapter I</i> of the Chinese and English translations. </p>
                        <p id="traduco_note">*The project is under development and currently includes fifteen translations of the work: 
                            six complete translations and nine containing the <i>Introduction</i> and <i>Chapter I</i>.  
                            This section will be progressively updated with new chapters of existing translations and new translations. 
                            For details on available chapters for each translation, please consult the <a href="./traduzione">translations index</a>.
                            </p>

                        </p>
                        <a class="btn btn-primary btn-intro" href="./traduco">Go to Traduco</a>

                        <br>
                        <br>
                    <h2 class="text-center mt-0">VEDO / I SEE MANZONI</h2>
                    <hr class="divider" />
                    <p>Vedo Manzoni presents, through a <a href="https://dlrc.ficlit.unibo.it/s/lib/faceted-browse/7">dedicated section</a> of <a href="https://dl.ficlit.unibo.it/s/lib/page/home">of the Digital Library</a> 
                        of <a href="https://ficlit.unibo.it/it">the Department of Classical Philology and Italian Studies at the University of Bologna</a>, 
                        the complete reproduction of the Quarantana and the metadata of the iconographic apparatus. This allows users to select the 505 vignettes throughout the various thematic paths.</p>
                        <a class="btn btn-primary btn-intro" href="./vedo">Go to Vedo</a>
                        <br>
                        <br>
                    <h2 class="text-center mt-0">DOCUMENTATION</h2>
                    <hr class="divider" />
                    <p>The technical documentation of the project is available in the <a href="https://github.com/LeggoManzoni/leggomanzoni/blob/main/Docs.md" target="_blank">GitHub repository</a>.</p>
                    </div>
                </div>
            </div>
        </section>
        </header>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>
