<!DOCTYPE html>
<html lang="en">
    <!-- Head-->
    <%- include ("partials/head"); %>
    <body id="page-top"  class="normalFont">
        <!-- Navigation-->
        <%- include ("partials/navbar"); %>
        <!-- Masthead-->
        <header class="masthead">
        <section class="page-section bg-primary" id="introduzione">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="testo">
                        <h2 class="text-center mt-0">Benvenuti in <br> <i>Leggo Manzoni</i></h2>
                        <hr class="divider"></hr>
                        <p>
                            Il progetto <i>Leggo Manzoni</i>, ideato da 
                            <a href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a> e 
                            <a href="https://www.unibo.it/sitoweb/francesca.tomasi" target="_blank">Francesca Tomasi</a> 
                            del Dipartimento <a href="https://ficlit.unibo.it/it" target="_blank">FICLIT</a> dell’Università di Bologna, 
                            è nato nel 2019 nell’ambito del progetto <a href="https://www.alessandromanzoni.org/" target="_blank">PRIN 2017 
                                “Manzoni Online: manoscritti e documenti inediti, tradizione e traduzioni” (prot. 2017CFZFAY)</a>, coordinato 
                                da <a href="https://personale.unipr.it/it/ugovdocenti/person/88687" target="_blank">Giulia Raboni</a> 
                                (Università di Parma) in collaborazione con centro <a href="https://centri.unibo.it/dharc/en" target="_blank">DH.arc</a> 
                                dell’Università di Bologna. 
                        </p>

                           <p> La piattaforma mette a disposizione il testo integrale dell’edizione de <i>I promessi sposi</i> del 1840-42 
                            corredato dalle immagini originali e da quaranta commenti critici (<a href="./reader">LEGGO MANZONI</a>), 
                            dieci traduzioni (<a href="./traduco">TRADUCO MANZONI</a>) e dalla digitalizzazione e metadatazione dell’originale 
                            a stampa della Quarantana (<a href="./vedo">VEDO MANZONI</a>). 
                           </p>
                           <h2 class="text-center mt-0">LEGGO MANZONI<a href="#leggo_note">*</a></h2>
                        <hr class="divider" />
                        <p><i>Leggo Manzoni. Quaranta commenti alla Quarantana</i> mette a disposizione, in un ambiente web liberamente consultabile, 
                            l’edizione dei <i>Promessi sposi</i> del 1840-42 corredata dalle immagini e da quaranta commenti critici per 
                            consentire una lettura “immersiva” del romanzo, con la guida dei principali studiosi dell’opera manzoniana.</p>
                        <p>Leggo Manzoni non è solo un progetto scientifico, ma un laboratorio condiviso tra Università e Scuola superiore. 
                            Il progetto si è sviluppato infatti grazie all’attiva partecipazione di <a href="./credits#scuole">20 scuole</a> 
                            secondarie di secondo grado di tutta Italia a due cicli di PCTO (Percorso per le Competenze Trasversali e l’Orientamento): 
                            “Adotta un commento ai <i> Promessi Sposi”</i>, organizzati da <a href="https://www.unibo.it/sitoweb/paola.italia" target="_blank">Paola Italia</a> 
                            con <a href="https://www.huygens.knaw.nl/en/medewerkers/beatrice-nava/" target="_blank">Beatrice Nava</a> ed 
                            <a href="https://www.letterefilosofia.unifi.it/vp-960-ersilia-russo.html" target="_blank">Ersilia Russo</a>, nel 2019-2020 e nel 2021-2022, 
                            dedicati alla formazione di <i>competenze testuali e digitali</i>, per imparare a riconoscere in rete fonti e testi autorevoli, 
                            e apprendere i primi rudimenti della filologia digitale. In 30 ore di lezione, svolte in presenza e on line, guidati dai tutor 
                            dell’Università: Beatrice Nava ed Ersilia Russo, più di <a href="./credits#insegnanti">30 insegnanti e 500 studenti</a> 
                            hanno contribuito alla digitalizzazione e codifica XML/TEI dei commenti critici ai <i>Promessi sposi</i>.
                            Il progetto è proseguito poi con la collaborazione di due allieve del Corso di 
                            <a href="https://corsi.unibo.it/2cycle/DigitalHumanitiesKnowledge" target="_blank">Digital Humanities and Digital Knowlegde</a> 
                            dell’Università di Bologna: <a href="https://www.linkedin.com/in/maria-levchenko-39953284/" target="_blank">Mariia Levchenko</a> 
                            e <a href="https://www.linkedin.com/in/giulia-menna-340606233/" target="_blank">Giulia Menna</a>, per la costruzione 
                            e implementazione della piattaforma.
                        </p>
                        <p class=" mb-4"><i>Leggo Manzoni</i> presenta:<br>
                            <ul>
                            <li><u>Il romanzo completo di testi e immagini</u>: è possibile leggere il romanzo, nella versione del 1840-42, 
                                corredato dalle <b>vignette originali</b> che erano parte integrante del progetto editoriale, 
                                per consentire una lettura “immersiva” dell’opera così come Manzoni l'ha voluta, dopo un ventennio di lavoro.  </li>
                            <li><u>Quaranta commenti</u>: da quello “storico” di Policarpo Petrocchi ai più recenti commenti scolastici, 
                                il testo manzoniano viene spiegato, linguisticamente e tematicamente, attraverso <a href="./commenti">quaranta commenti</a>, 
                                nei luoghi notevoli dei testi, 
                                offrendo una panoramica sulla critica manzoniana e confrontando punti di vista interpretativi su un’opera che ha sollecitato, 
                                nel corso del tempo, reazioni diverse e su cui si costruita la cultura di un’intera nazione.</li>
                            </ul>
                            </p>
                            
                        <p>Si ringraziano gli autori dei commenti per avere concesso l’utilizzo dei loro testi, e in particolare Mariarosa Bricchi che ha reso disponibile il commento in versione integrale.</p>
                        <p id="leggo_note">*Il progetto è in corso di sviluppo e comprende al momento le immagini di Introduzione e Capitolo I, 
                            il commento integrale di Luigi Russo e Mariarosa Bricchi e i commenti all’Introduzione e al Capitolo 
                            I degli altri commentatori. Nell’indice dei commenti sono presenti i capitoli disponibili: la sezione verrà 
                            aggiornata man mano che nuovi commenti saranno aggiunti.</p>
                                                    <a class="btn btn-primary btn-intro" href="./reader">Vai a Leggo</a>
    <br>
    <br>
                        <h2 class="text-center mt-0">TRADUCO MANZONI<a href="#traduco_note">*</a></h2>
                        <hr class="divider" />
                        <p>Il progetto propone, grazie a un algoritmo che permette la creazione automatica di edizioni 
                            digitali multilingue di opere letterarie utilizzando modelli neurali (<a href="https://ceur-ws.org/Vol-3834/paper128.pdf">Levchenko 2024</a>), 
                            la lettura di <a href="./traduzione">quindici traduzioni</a> del romanzo in francese, inglese, tedesco, spagnolo, olandese, 
                            polacco, russo e cinese, visualizzabili singolarmente o in parallelo, per confrontare simultaneamente 
                            scelte di traduzioni relative alle medesime porzioni di testo. </p>
                        <p>Si ringraziano Zhang Shihua e Michael Moore, per avere liberalmente concesso la riproduzione di <i>Introduzione</i> 
                            e <i>Capitolo I</i> delle traduzioni cinese e inglese. </p>
                        <p id="traduco_note">*Il progetto è in corso di sviluppo e comprende attualmente quindici traduzioni dell'opera: 
                            sei traduzioni integrali e nove che includono <i>Introduzione</i> e <i>Capitolo I</i>. 
                            La sezione verrà progressivamente aggiornata con l'aggiunta di nuovi capitoli delle traduzioni esistenti e di nuove traduzioni. 
                            Per i dettagli sui capitoli disponibili per ciascuna traduzione, consultare <a href="./traduzione">l'indice delle traduzioni.</a> </p>

                        </p>
                        <a class="btn btn-primary btn-intro" href="./traduco">Vai a Traduco</a>

                        <br>
                        <br>
                    <h2 class="text-center mt-0">VEDO MANZONI</h2>
                    <hr class="divider" />
                    <p>Vedo Manzoni presenta, attraverso <a href="https://dlrc.ficlit.unibo.it/s/lib/faceted-browse/7">la sezione dedicata</a> della <a href="https://dl.ficlit.unibo.it/s/lib/page/home">Digital Library</a> 
                        del <a href="https://ficlit.unibo.it/it">Dipartimento di Filologia Classica e
                         Italianistica dell’Università di Bologna</a>, la riproduzione integrale della Quarantana e la metadatazione dell'apparato 
                         iconografico, che permette di selezionare le 505 vignette attraverso percorsi tematici.</p>
                        <a class="btn btn-primary btn-intro" href="./vedo">Vai a Vedo</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <%- include("partials/footer"); %>
        <!-- Scripts-->
        <%- include("partials/scripts"); %>
    </body>
</html>
