@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.normalFont{
    font-family: 'Cormorant Garamond', serif; 
}

#mainNav .navbar-nav .nav-item .nav-link:focus-visible {
    color: #fff !important;
    background-color: #73978B !important;
    border-radius: 10px 10px 10px 10px !important;
}

.creditsLink{
    color: black;
}

.creditsLink:hover{
    color: #73978B;
}
.accessibilityFont{
    font-family: 'Montserrat', sans-serif !important;
}

.activeNav{
    color: white !important;
    background-color: #73978B;
    border-radius: 10px;
}

.activeBtn{
    color: white !important;
    background-color: #73978B;
}

.studentList{
    height: 40vh;
    overflow-y: scroll;
    background-color: rgb(242 219 213 / 25%);
    border-radius: 10px 10px 10px 10px;
}

