@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Cormorant Garamond', serif !important; 
    font-family: 'Montserrat', sans-serif;

}

#mainNav .navbar-nav .nav-item .nav-link:focus-visible {
    color: #fff !important;
    background-color: #73978B !important;
    border-radius: 10px 10px 10px 10px !important;
}

.creditsLink:hover{
    color: black;
}

.accessibilityFont{
    font-family: 'Montserrat', sans-serif !important;
}